.learner-selector {
    width: 220px;
    height: 100%;
    overflow: hidden;
}

.grouped-learners {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    ::ng-deep .mat-expansion-panel-body {
        padding: 0px;
    }
}