<mat-card style="margin: 15px 0 0 15px;">
    <form fxLayout="column" [formGroup]="unitForm">
        <section fxLayoutGap="15px">
            <mat-form-field fxFlex="15" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Kod</mat-label>
                <input formControlName="code" matInput [readonly]="!editMode" tabindex="41">
            </mat-form-field>
            <mat-form-field fxFlex="65" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode" tabindex="42">
            </mat-form-field>
            <span fxFlex></span>
            <section fxLayout="column">
                <span fxFlex="8"></span>
                <span fxLayoutGap="10px">
                    <button mat-mini-fab *ngIf="!editMode" (click)="editMode = true" color="accent" tabindex="44">
                        <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0">edit</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="editMode" (click)="saveChanges()" color="primary" [disabled]="unitForm.invalid"  tabindex="45">
                        <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0">check</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="editMode" (click)="discardChanges()" color="warn" tabindex="46">
                        <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0">clear</mat-icon>
                    </button>
                </span>
                <span fxFlex="40"></span>
            </section>
        </section>
        <section>
            <cc-markdown-editor fxFlex
                [label]="'Opis'" [text]="unitDescription" [editMode]="editMode" [indextab]="43"
                (textChanged)="updateDescription($event)"></cc-markdown-editor>
        </section>
    </form>
</mat-card>