<div style="margin: 5px 15px">
    <form fxLayout="column" [formGroup]="unitForm">
        <section fxLayoutGap="15px">
            <mat-form-field fxFlex="15" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Kod</mat-label>
                <input formControlName="code" matInput [readonly]="!editMode" tabindex="41">
            </mat-form-field>
            <mat-form-field fxFlex="50" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode" tabindex="42">
            </mat-form-field>
            <mat-form-field fxFlex="15" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Redni broj</mat-label>
                <input formControlName="order" type="number" matInput [readonly]="!editMode" tabindex="43">
            </mat-form-field>
            <span fxFlex></span>
            <section fxLayout="column">
                <span fxFlex="8"></span>
                <span fxLayoutGap="10px" fxLayout="row">
                    <button mat-mini-fab *ngIf="!editMode" (click)="editMode = true" color="primary" tabindex="50">
                        <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="editMode" (click)="saveChanges()" color="primary" [disabled]="unitForm.invalid"  tabindex="51">
                        <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="editMode" (click)="discardChanges()" color="warn" tabindex="52">
                        <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                    </button>
                </span>
                <span fxFlex="40"></span>
            </section>
        </section>
        <section fxLayout="column">
            <h4 *ngIf="!editMode" style="margin-bottom: 0px;">Ciljevi</h4>
            <cc-markdown-editor fxFlex
                [label]="'Ciljevi'" [text]="unitDescription" [editMode]="editMode" [indextab]="44"
                (textChanged)="updateDescription($event)"></cc-markdown-editor>
        </section>
    </form>
</div>