<div class="flex-col" style="height: 100%;">
    <div>
        <cc-course-details [course]="course" (courseUpdated)="updateCourse($event)"></cc-course-details>
    </div>
    <div style="height: calc(100% - 98px);" class="flex-row">
        <div style="width: 25%">
            <div [class.theme-highlight-primary]="selectedUnit?.code===''" class="flex-row unit-row" style="justify-content: space-between; align-items: center;">
                <b>Lekcije</b>
                <button mat-icon-button (click)="createUnit()" matTooltip="Dodaj"
                    [color]="selectedUnit?.code==='' ? 'accent' : !course?.knowledgeUnits?.length ? 'primary' : ''">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
                <div *cdkVirtualFor="let unit of course?.knowledgeUnits">
                    <div [class.theme-highlight-primary]="selectedUnit?.id===unit.id" class="unit-row" id="u{{unit.id}}">
                        <span><b>{{unit.code}}</b>: {{unit.name}}</span>
                        <span class="flex-row">
                            <button mat-icon-button (click)="showDetails(unit)" matTooltip="Cilj i smernice"
                                [class.mat-flat-button]="selectedUnit?.id===unit.id && showUnitDetails"
                                [color]="selectedUnit?.id===unit.id && showUnitDetails ? 'accent' : ''">
                                <mat-icon>sports_score</mat-icon>
                            </button>
                            <button mat-icon-button (click)="showKcs(unit)" matTooltip="Komponente znanja"
                                [class.mat-flat-button]="selectedUnit?.id===unit.id && showKnowledgeComponents"
                                [color]="selectedUnit?.id===unit.id && showKnowledgeComponents ? 'accent' : ''">
                                <mat-icon>account_tree</mat-icon>
                            </button>
                            <button mat-icon-button (click)="showTasks(unit)" matTooltip="Zadaci"
                                [class.mat-flat-button]="selectedUnit?.id===unit.id && showLearningTasks"
                                [color]="selectedUnit?.id===unit.id && showLearningTasks ? 'accent' : ''">
                                <mat-icon>rebase_edit</mat-icon>
                            </button>
                            <span style="flex-grow: 1;"></span>
                            <button mat-icon-button (click)="deleteUnit(unit.id)" matTooltip="Obriši">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div class="content">
            <div *ngIf="selectedUnit && showUnitDetails">
                <cc-unit-details [unit]="selectedUnit" (unitSaved)="saveOrUpdateUnit($event)"></cc-unit-details>
            </div>
            <div *ngIf="selectedUnit && showKnowledgeComponents">
                <cc-kc-tree [unit]="selectedUnit"></cc-kc-tree>
            </div>
            <div *ngIf="selectedUnit && showLearningTasks">
                <cc-learning-tasks [learningTasks]="learningTasks" [units]="course.knowledgeUnits"></cc-learning-tasks>
            </div>
        </div>
    </div>
</div>