<div class="flex-col" style="height: 100%;" *ngIf="course">
    <div>
        <cc-course-details [course]="course" (courseUpdated)="updateCourse($event)"></cc-course-details>
    </div>
    <div style="height: calc(100% - 98px);" class="flex-row">
        <div style="width: 25%">
            <div [class.theme-highlight-primary]="selectedUnit?.code===''" class="flex-row unit-row" style="justify-content: space-between; align-items: center;">
                <b>Lekcije</b>
                <button mat-icon-button (click)="createUnit()" matTooltip="Dodaj"
                    [color]="selectedUnit?.code==='' ? 'accent' : !course?.knowledgeUnits?.length ? 'primary' : ''">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
                <div *cdkVirtualFor="let unit of course?.knowledgeUnits">
                    <div [class.theme-highlight-primary]="selectedUnit?.id===unit.id" class="unit-row" id="u{{unit.id}}">
                        <span><b>{{unit.code}}</b>: {{unit.name}}</span>
                        <span class="flex-row">
                            <button mat-icon-button (click)="showDetails(unit)" matTooltip="Cilj i smernice"
                                [color]="selectedUnit?.id===unit.id && displayDetails ? 'accent' : ''">
                                <mat-icon>sports_score</mat-icon>
                            </button>
                            <button mat-icon-button (click)="showItems(unit)" matTooltip="Stavke"
                                [color]="selectedUnit?.id===unit.id && displayItems ? 'accent' : ''">
                                <mat-icon>format_list_numbered</mat-icon>
                            </button>
                            <span style="flex-grow: 1;"></span>
                            <button mat-icon-button (click)="deleteUnit(unit.id)" matTooltip="Obriši">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div class="content">
            <div *ngIf="selectedUnit && displayDetails">
                <cc-unit-details [unit]="selectedUnit" (unitSaved)="saveOrUpdateUnit($event)"></cc-unit-details>
            </div>
            <div *ngIf="selectedUnit && displayItems">
                <cc-unit-items [unitId]="selectedUnit.id"></cc-unit-items>
            </div>
        </div>
    </div>
</div>