#knowledge-node {
  width: 75%;
  line-height: 150%;
  text-align: justify;
  margin: auto;
}

h1 {
  font-weight: normal;
}

h2 {
  display: inline;
}

.fixed {
  position: fixed;
  top: 65px;
  right: 20px;
  float: right;
}

.mat-icon-button {
  margin: 10px;
}



