<div class="sticky" *ngIf="!sidenavOpened">
  <button mat-raised-button mat-icon-button color="primary" (click)="sidenavOpened = true">
    <mat-icon>assignment</mat-icon>
  </button>
</div>
<mat-sidenav-container hasBackdrop="false" class="overlap">
  <mat-sidenav fixedInViewport="true" mode="over" position="end" [opened]="sidenavOpened">
    <button mat-raised-button mat-icon-button color="primary" (click)="sidenavOpened = false">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <cc-notes></cc-notes>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="knowledge-node" *ngIf="knowledgeNode">
      <h1>{{knowledgeNode.learningObjective}}</h1>
      <mat-divider></mat-divider>
      <cc-learning-object-container
        *ngFor="let learningObject of knowledgeNode.learningObjects"
        [learningObject]="learningObject"></cc-learning-object-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
