<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav fixedInViewport="true" mode="over" position="end" [(opened)]="sidenavOpened">
    <cc-notes></cc-notes>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sticky">
      <button mat-raised-button mat-icon-button color="primary">
        <mat-icon>assignment</mat-icon>
      </button>
    </div>
    <div id="knowledge-node" *ngIf="knowledgeNode">
      <h1>{{knowledgeNode.learningObjective}}</h1>
      <mat-divider></mat-divider>
      <cc-learning-object-container
        *ngFor="let learningObject of knowledgeNode.learningObjects"
        [learningObject]="learningObject"></cc-learning-object-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

