#knowledge-node {
  width: 75%;
  margin: auto;
}

h1 {
  font-weight: normal;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
  z-index: 2;
}

.mat-icon-button {
  margin: 10px;
}

mat-sidenav-container {
  position: absolute;
  width: 100%;
}



