.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: xx-large;
  text-align: left;
}

.medal-icon {
  transform: scale(1.5);
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-track-height: 20px;
  --mdc-linear-progress-active-indicator-height: 20px;
}