<div *ngIf="unit" class="flex-col" style="height: 100%;">
  <div id="scroller">
    <div class="container">
      <h1 class="mat-h1">{{unit.name}}</h1>
      <markdown *ngIf="unit.introduction">{{unit.introduction}}</markdown>
      <markdown *ngIf="unit.goals">**Cilj**: {{unit.goals}}</markdown>
      <markdown *ngIf="unit.guidelines">**Smernice za postizanje cilja**: {{unit.guidelines}}</markdown>
      <div *ngIf="error" class="container">
        <b>{{error}} Osvežite stranicu i javite se nastavniku ako je problem i dalje prisutan.</b>
      </div>
      <div *ngIf="unitItems.length">
          <cc-unit-item *ngFor="let item of unitItems" [item]="item" (rateItem)="rateProgress({requestKcFeedback: item.isKc, requestTaskFeedback: !item.isKc}, true, item.id)"></cc-unit-item>
      </div>
    </div>
  </div>
  <mat-card appearance="outlined">
    <div class="navigation-panel">
      <div style="flex-grow: 1; margin-top: 6px;">
        <div *ngIf="unitItems.length" class="flex-row" style="align-items: center; margin-bottom: 10px;">
          <mat-progress-bar style="flex-grow: 1;" [color]="'primary'" [mode]="'determinate'" [value]="percentMastered"></mat-progress-bar>
          <div *ngIf="unitItems.length > 0">
            <span *ngIf="percentMastered < 100" matTooltip="% rešenih celina lekcije"  style="padding: 0 5px;">
              <b>{{ percentMastered }}%</b>
            </span>
            <span *ngIf="percentMastered === 100"  matTooltip="Lekcija savladana!" style="padding: 0 10px;">
              <mat-icon class="medal-icon" svgIcon="medal"></mat-icon>
            </span>
          </div>
        </div>
      </div>
      <button mat-raised-button [routerLink]="['/courses', courseId]" [color]="percentMastered === 100 ? 'primary' : ''">
        <mat-icon>book</mat-icon>
        Sve lekcije
      </button>
    </div>
  </mat-card>
</div>