<div id="notes" fxLayout="column">
  <div *ngIf="edit" class="mat-card" fxLayout="column">
    <cc-markdown-editor [editMode]="true" [label]="'Beleška'"
      (textChanged)="text = $event"></cc-markdown-editor>
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      <button mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div *ngIf="!edit" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px" class="note-width">
    <button mat-icon-button mat-raised-button color="primary" (click)="edit = true">
      <mat-icon matTooltip="Dodaj belešku.">add</mat-icon>
    </button>
    <button mat-icon-button mat-raised-button color="accent" (click)="onExport()">
      <mat-icon matTooltip="Preuzmi sve beleške.">file_download</mat-icon>
    </button>
  </div>
  <div class="note-width" *ngIf="notes.length === 0 && !edit" fxFlexAlign="center" i18n>
    Prostor za pitanja, ideje, nejasnoće i ostale beleške.
  </div>
  <mat-card class="note-width" *ngFor="let note of notes">
    <cc-markdown-editor *ngIf="note.mode === 'edit'"
      [editMode]="true" [text]="note.text" [label]="'Beleška'"
      (textChanged)="note.text = $event">
    </cc-markdown-editor>
    <p *ngIf="note.mode === 'preview'" markdown>{{note.text}}</p>
    <div fxLayout="row" fxLayoutAlign="space-between end">
      <div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="note.mode === 'edit'">
          <button mat-flat-button color="primary" (click)="onUpdate(note)" [disabled]="!note.text">Save</button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <mat-icon class="pointer" (click)="note.mode = 'edit'" color="primary">edit</mat-icon>
        <mat-icon class="pointer" (click)="onDelete(note.id)" color="accent">delete</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
