<div style="height: 100%; width: 100%;">
  <div class="fixed">
    <button class="navbar-button" mat-button [ngClass]="{'mat-accent': sidenavOpened}"
      (click)="sidenavOpened = !sidenavOpened">
      <div>
        <mat-icon>assignment</mat-icon>
        <mat-icon *ngIf="!sidenavOpened">arrow_right</mat-icon>
        <mat-icon *ngIf="sidenavOpened">arrow_left</mat-icon>
        <br>
        Beleške
      </div>
    </button>
  </div>
  <mat-sidenav-container hasBackdrop="false" style="height: 100%;">
    <mat-sidenav mode="over" [opened]="sidenavOpened" (closed)="sidenavOpened = false">
        <cc-unit-notes></cc-unit-notes>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>