<div class="flex-row gap" style="width: 98%; height: 100%;">
  <cc-generic-table style="flex-grow: 1;"
    [title]="'Studenti'"
    [fieldConfiguration]="fields"
    [baseUrl]="baseUrl"
    (selectItem)="onSelect($event)">
  </cc-generic-table>
  <div style="width: 300px; height: 100%;">
    <cc-generic-table *ngIf="selectedLearner"
      [title]="'Prijavljeni kursevi'"
      [fieldConfiguration]="courseFields"
      [baseUrl]="enrolledCoursesUrl"
      [pageProperties]="null">
    </cc-generic-table>
  </div>
</div>