<div fxLayout="column">
    <div fxLayout="column" style="margin: 15px;" fxLayoutGap="30px">
        <mat-card *ngFor="let instructionalItem of instructionalItems" fxFlex>
            <div>
                <cc-learning-object-container [learningObject]="instructionalItem"></cc-learning-object-container>
            </div>
            <!--
                *ngIf="!edit[instructionalItem.id]"
                div *ngIf="!edit[instructionalItem.id] && instructionalItem.typeDiscriminator === 'text'">
                <cc-markdown-editor fxFlex [label]="'Markdown'"
                    [text]="unitDescription" (textChanged)="updateDescription($event)">
                </cc-markdown-editor>
            </div>
            <div *ngIf="!edit[instructionalItem.id] && instructionalItem.typeDiscriminator === 'video'">
                TODO: Caption
                TODO: URL
            </div-->
        </mat-card>
    </div>
</div>