<div>
  <span>
    <img class="hover" *ngIf="isDarkTheme" src="../../../../assets/images/logo.png" width="120px" alt="Clean CaDET" [routerLink]="['home']">
    <img class="hover" *ngIf="!isDarkTheme" src="../../../../assets/images/black.png" width="120px" alt="Clean CaDET" [routerLink]="['home']">
  </span>

  <cc-learner-controls [learnerId]="user?.learnerId" *ngIf="user?.role === 'learner'"></cc-learner-controls>
  <cc-instructor-controls *ngIf="user?.role === 'instructor'"></cc-instructor-controls>

  <button color="primary" *ngIf="!user" id="login" mat-flat-button [routerLink]="['login']" i18n>Prijavi se</button>
  <small *ngIf="user" color="primary" id="username">{{user.username}}</small>
  <button color="primary" *ngIf="user" mat-flat-button id="logout" (click)="onLogout()" [routerLink]="['home']" i18n>Odjavi se</button>
</div>
