.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-controls {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 10px 0 10px 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

small {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

.lightnav {
  background-color: #e6e6e6;
}

.darknav {
  background-color: #122536;
}

@media only screen and (max-height: 430px) {
  .theme-hide {
      display: none;
  }
}