:host {
  display: block;
}

.logo {
  margin: 10px 0 10px 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 160%;
}

small {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.lightnav {
  background-color: #ddd;
}

.darknav {
  background-color: #021634;
}

@media only screen and (max-height: 430px) {
  .theme-hide {
      display: none;
  }
}