<div *ngIf="knowledgeComponentStatistics" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div>
        <b>Analiza komponente znanja</b><br>
        <small>Prijavljen = ima pristup veštini.
        Započet = krenuo razvoj veštine.
        Pregledan = video svo gradivo i zadatke.
        Rešen = svaladao veštinu.</small>
    </div>
    <div fxLayout="row">
        <div fxFlex="50"><ngx-charts-bar-vertical
            [results]="totalCountChartData"
            [xAxis]="true"
            [yAxis]="true"
            [roundEdges]="false"
            [showDataLabel]="true">
        </ngx-charts-bar-vertical></div>
        <div fxFlex="50" *ngIf="percentageChartData?.length > 0"><ngx-charts-bar-vertical
            [results]="percentageChartData"
            [xAxis]="true"
            [yAxis]="true"
            [roundEdges]="false"
            [showDataLabel]="true">
        </ngx-charts-bar-vertical></div>
    </div>
    <div *ngIf="completionTimeBars?.length != 0 && passTimeBars?.length != 0" fxFlex="row">
        <p fxFlex>
            <b>Minimalno vreme rada</b><br>
            ~90% učenika je provelo bar <b>{{completionTimeBars[0] < passTimeBars[0] ? completionTimeBars[0] : passTimeBars[0]}} minuta</b> da pregleda.<br>
            ~65% učenika je provelo bar <b>{{completionTimeBars[1] < passTimeBars[1] ? completionTimeBars[1] : passTimeBars[1]}} minuta</b> da pregleda.<br><br>
            <b>Maksimalno vreme rada</b><br>
            ~65% učenika je provelo do <b>{{completionTimeBars[2] < passTimeBars[2] ? completionTimeBars[2] : passTimeBars[2]}} minuta</b> da pregleda.<br>
            ~90% učenika je provelo do <b>{{completionTimeBars[3] < passTimeBars[3] ? completionTimeBars[3] : passTimeBars[3]}} minuta</b> da pregleda.<br>
        </p>
        <p fxFlex>
            <br>
            ~90% učenika je provelo bar <b>{{passTimeBars[0]}} minuta</b> da reši.<br>
            ~65% učenika je provelo bar <b>{{passTimeBars[1]}} minuta</b> da reši.<br><br>
            <br>
            ~65% učenika je provelo do <b>{{passTimeBars[2]}} minuta</b> da reši.<br>
            ~90% učenika je provelo do <b>{{passTimeBars[3]}} minuta</b> da reši.<br>
        </p>
    </div>
</div>