<mat-card appearance="outlined" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="knowledgeComponentStatistics?.totalRegistered">
        <b>Brojno stanje učenika</b>&nbsp;
        <small>(Prijavljen = ima pristup;
        Započet = krenuo da rešava;
        Pregledan = video svo gradivo i pitanja;
        Rešen = ispravno odgovorio na pitanja)</small>
    </div>
    <div fxLayout="row" *ngIf="knowledgeComponentStatistics?.totalRegistered">
        <div fxFlex="47" fxLayout="column">
            <div fxFlex><ngx-charts-bar-vertical
            [results]="totalCountChartData"
            [xAxis]="true"
            [yAxis]="true"
            [roundEdges]="false"
            [showDataLabel]="true">
            </ngx-charts-bar-vertical></div>
        </div>
        <div fxFlex="47" fxLayout="column">
            <div fxFlex><ngx-charts-bar-vertical
            [results]="percentageChartData"
            [xAxis]="true"
            [yAxis]="true"
            [roundEdges]="false"
            [showDataLabel]="true">
            </ngx-charts-bar-vertical></div>
        </div>
    </div>
    <div *ngIf="completionTimeBars?.length && passTimeBars?.length">
        <mat-divider></mat-divider>
        <p>
            <b>Minimalno vreme rada</b><br>
            ~90% učenika je provelo bar <b>{{completionTimeBars[0] < passTimeBars[0] ? completionTimeBars[0] : passTimeBars[0]}} minuta</b> da pregleda
            i bar <b>{{passTimeBars[0]}} minuta</b> da reši komponentu znanja.<br>
            ~65% učenika je provelo bar <b>{{completionTimeBars[1] < passTimeBars[1] ? completionTimeBars[1] : passTimeBars[1]}} minuta</b> da pregleda
            i bar <b>{{passTimeBars[1]}} minuta</b> da reši komponentu znanja.<br>
            <b>Maksimalno vreme rada</b><br>
            ~65% učenika je provelo do <b>{{completionTimeBars[2] < passTimeBars[2] ? completionTimeBars[2] : passTimeBars[2]}} minuta</b> da pregleda
            i do <b>{{passTimeBars[2]}} minuta</b> da reši komponentu znanja.<br>
            ~90% učenika je provelo do <b>{{completionTimeBars[3] < passTimeBars[3] ? completionTimeBars[3] : passTimeBars[3]}} minuta</b> da pregleda
            i do <b>{{passTimeBars[3]}} minuta</b> da reši komponentu znanja.<br>
        </p>
    </div>
    <div *ngIf="ratingChartData && ratingChartData.length">
        <mat-divider></mat-divider>
        <p><b>Ocene učenika</b></p>
        <div fxLayout="row">
            <div fxFlex="50" fxLayout="column">
                <div fxFlex><ngx-charts-bar-vertical
                [results]="ratingChartData"
                [xAxis]="true"
                [yAxis]="true"
                [roundEdges]="false"
                [showDataLabel]="true">
                </ngx-charts-bar-vertical></div>
            </div>
            <div fxFlex="50">
                <div *ngIf="!isEmpty(goodPoints)">
                    Učenici kojima se svidela komponenta znanja (5/5) su istakli:
                    <mat-chip-listbox multiple>
                    <mat-chip-option *ngFor="let option of goodPoints | keyvalue" #chip="matChip">
                        {{option.key}} ({{option.value}})
                    </mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div *ngIf="!isEmpty(badPoints)">
                    Učenici koji su dali manje od 5 su istakli da treba unaprediti:
                    <mat-chip-listbox multiple>
                    <mat-chip-option *ngFor="let option of badPoints | keyvalue" #chip="matChip">
                        {{option.key}} ({{option.value}})
                    </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!knowledgeComponentStatistics?.totalRegistered">
        Ne postoje statistike za ovu komponentu znanja.
    </div>
</mat-card>