<div class="right-margin">
    <mat-card fxLayout="row" fxLayoutAlign="center center" class="mat-elevation-z5 margin sticky">
        <span fxFlex>
            <mat-form-field appearance="fill">
                <mat-label>Lekcije</mat-label>
              <mat-select [(value)]="unitId" (selectionChange)="updateStatistics()">
                    <mat-option *ngFor="let unit of units" [value]="unit.id">
                        {{unit.name}}
                    </mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Grupe</mat-label>
                <mat-select [(value)]="groupId" (selectionChange)="updateStatistics()">
                    <mat-option value="0">Sve grupe</mat-option>
                    <mat-option *ngFor="let group of groups" [value]="group.id">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span fxFlex="nogrow">
            <button id="exportAllToCSV" color="accent" mat-raised-button (click)="exportAllToCSV()">Export Events to CSV</button>
        </span>
    </mat-card>
    
    <mat-progress-bar class="progress-bar" mode="indeterminate" 
        *ngIf="knowledgeComponentStatistics.length === 0 && unitId !== '0'">
    </mat-progress-bar>

    <div fxLayout="row wrap">
        <div *ngFor="let kc of knowledgeComponentStatistics" fxFlex="100">
            <mat-card class="mat-elevation-z2 margin">
                <h3>{{kc.kcCode}}: {{kc.kcName}}</h3>
                <div fxLayout="row">
                    <div fxFlex="50" fxLayout="column">
                        <div><ngx-charts-bar-vertical
                            [results]="totalCountChartData[kc.kcCode]"
                            [xAxis]="true"
                            [yAxis]="true"
                            [showDataLabel]="true">
                        </ngx-charts-bar-vertical></div>
                        <div><ngx-charts-bar-vertical
                            [results]="percentageChartData[kc.kcCode]"
                            [xAxis]="true"
                            [yAxis]="true"
                            [showDataLabel]="true">
                        </ngx-charts-bar-vertical></div>
                    </div>
                    <div fxFlex="50" fxLayout="column" *ngIf="timeChartData[kc.kcCode]">
                        <div fxFlex="90"><ngx-charts-box-chart
                            [scheme]="{'domain':['#9F7EA9', '#B1E3F6']}"
                            [results]="timeChartData[kc.kcCode]"
                            [xAxis]="false"
                            [yAxis]="false">
                        </ngx-charts-box-chart></div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
