<div style="padding-bottom: 15px;">
    <form [formGroup]="activityForm">
        <section style="position: relative;">
            <mat-card style="position: sticky; top: 0; z-index: 1000;">
                <span fxLayoutGap="20px">
                    <mat-form-field fxFlex="22" [appearance]="editMode ? 'fill' : 'outline'">
                        <mat-label>Kod</mat-label>
                        <input formControlName="code" matInput [readonly]="!editMode">
                    </mat-form-field>
                    <mat-form-field fxFlex="60" [appearance]="editMode ? 'fill' : 'outline'">
                        <mat-label>Naziv</mat-label>
                        <input formControlName="name" matInput [readonly]="!editMode">
                    </mat-form-field>
                    <span fxFlex="5" *ngIf="!editMode"></span>
                    <span fxFlex="1" *ngIf="editMode"></span>
                    <section fxLayout="column">
                        <span fxFlex="15"></span>
                        <span fxLayoutGap="10px">
                            <button mat-icon-button *ngIf="!editMode" (click)="editMode = true" color="primary">
                                <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="editMode" color="primary" [disabled]="!activityForm.valid"
                                (click)="submitForm()">
                                <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="editMode" color="warn" (click)="discardChanges()">
                                <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                            </button>
                        </span>
                    </section>
                </span>
            </mat-card>

            <div style="overflow-y: auto;">
                <h3 style="margin-bottom: 0;"><b>Opis</b></h3>
                <section fxLayoutGap="15px" style="margin-right: 15px;">
                    <cc-markdown-editor fxFlex [label]="'Opis *'"
                        [text]="activityForm.get('guidance.description').value"
                        (textChanged)="this.activityForm.get('guidance.description').setValue($event)"
                        [editMode]="editMode"></cc-markdown-editor>
                </section>

                <!-- Examples -->

                <h3 *ngIf="getExamples.controls.length !== 0" style="margin-top: 0;"><b>Primeri</b></h3>
                <div *ngFor="let example of getExamples.controls; let i = index;">
                    <mat-card fxLayout="column" style="margin-right: 15px; padding-top: 15px; margin-bottom: 15px;">
                        <div fxFlex fxLayout="row">
                            <span *ngIf="!editExampleModes[i]"> <b>{{ getExampleControl(i, 'code').value }}: </b> </span>
                            <div *ngIf="editExampleModes[i] || editMode">
                                <mat-form-field *ngIf="editExampleModes[i]" fxFlex fxLayoutAlign="start center"
                                    appearance="fill">
                                    <mat-label>Kod</mat-label>
                                    <input matInput [formControl]="getExampleControl(i, 'code')"
                                        [readonly]="!editExampleModes[i]">
                                </mat-form-field>
                            </div>
                            <div fxFlex fxLayoutAlign="end start">
                                <button mat-icon-button *ngIf="editMode && !editExampleModes[i]" (click)="editExampleModes[i] = true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode && editExampleModes[i]"
                                    [disabled]="!activityForm.valid" (click)="updateExample(i)">
                                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode && editExampleModes[i]"
                                    [disabled]="!activityForm.valid" (click)="discardExampleChanges(i)">
                                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">clear</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode" (click)="deleteExample(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div>
                            <cc-markdown-editor fxFlex [label]="'Opis *'"
                                [text]="getExampleControl(i, 'description').value"
                                (textChanged)="updateExampleDescription($event, i)" [editMode]="editExampleModes[i]">
                            </cc-markdown-editor>
                        </div>
                    </mat-card>
                </div>

                <button *ngIf="editMode" [disabled]="!activityForm.valid" mat-raised-button color="primary"
                    (click)="addExample()" style="margin-bottom: 5px;">
                    + Dodaj primer
                </button>

                <!-- Standards -->

                <h3 *ngIf="getStandards.controls.length !== 0"><b>Standardi</b></h3>
                <div *ngFor="let standard of getStandards.controls; let i = index;">
                    <mat-card fxLayout="column" style="margin-right: 15px; padding-top: 15px; margin-bottom: 15px;">
                        <div fxFlex fxLayout="row">
                            <div fxFlex="80" [ngStyle]="{'margin-bottom': !editStandardModes[i] ? '10px' : '0'}">
                                <span *ngIf="!editStandardModes[i]"> <b>{{ getStandardControl(i, 'name').value }}: </b> </span>
                                <div *ngIf="editStandardModes[i] || editMode" fxFlex="80">
                                    <mat-form-field fxFlex="60" *ngIf="editStandardModes[i]" appearance="fill">
                                        <mat-label>Naziv</mat-label>
                                        <input matInput [formControl]="getStandardControl(i, 'name')"
                                            [readonly]="!editStandardModes[i]">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="20" fxLayoutAlign="end start">
                                <button mat-icon-button *ngIf="editMode && !editStandardModes[i]" (click)="editStandardModes[i] = true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode && editStandardModes[i]"
                                    [disabled]="!activityForm.valid" (click)="updateStandard(i)">
                                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode && editStandardModes[i]"
                                    [disabled]="!activityForm.valid" (click)="discardExampleChanges(i)">
                                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">clear</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="editMode" (click)="deleteStandard(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div [ngStyle]="{'margin-bottom': !editStandardModes[i] ? '10px' : '0'}">
                            <span *ngIf="!editStandardModes[i]"> {{ getStandardControl(i, 'description').value }} </span>
                            <mat-form-field *ngIf="editStandardModes[i]" fxFlex appearance="fill">
                                <mat-label>Opis</mat-label>
                                <textarea [formControl]="getStandardControl(i, 'description')" matInput
                                    [readonly]="!editMode"></textarea>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

                <button *ngIf="editMode" [ngStyle]="{'margin-left': getStandards.controls.length === 0 ? '10px' : '0'}" [disabled]="!activityForm.valid" mat-raised-button
                    color="primary" (click)="addStandard()">
                    + Dodaj standard
                </button>
            </div>
        </section>
    </form>
</div>