<div style="padding-bottom: 15px;">
    <form [formGroup]="activityForm">
        <section style="position: relative;">
            <mat-card style="position: sticky; top: 0; z-index: 1000;">
                <mat-form-field fxFlex="85" [appearance]="editMode ? 'fill' : 'outline'">
                    <mat-label>Naziv</mat-label>
                    <input formControlName="name" matInput [readonly]="!editMode">
                </mat-form-field>
                <span fxFlex></span>
                <section fxLayout="column">
                    <span fxFlex="8"></span>
                    <span fxLayoutGap="10px">
                        <button mat-mini-fab *ngIf="!editMode" (click)="editMode = true" color="primary">
                            <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="editMode" color="primary" [disabled]="!activityForm.valid" (click)="submitForm()">
                            <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="editMode" color="warn" (click)="discardChanges()">
                            <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                        </button>
                    </span>
                    <span fxFlex="40"></span>
                </section>
            </mat-card>

            <div>

                <h3 style="margin-bottom: 0;"><b>Opis</b></h3>

                <section fxLayoutGap="15px" style="margin-right: 15px;">
                    <cc-markdown-editor fxFlex [label]="'Opis'" [text]="activityForm.get('guidance.description').value"
                        (textChanged)="this.activityForm.get('guidance.description').setValue($event)"
                        [editMode]="editMode"></cc-markdown-editor>
                </section>

                <h3 *ngIf="activity.examples.length !== 0" style="margin-top: 0;"><b>Primeri</b></h3>

                <div *ngFor="let example of getExamples.controls; let i = index;">
                    <mat-card fxLayoutGap="15px" style="margin-right: 15px; padding-top: 30px; margin-bottom: 20px;">
                        <div fxLayout="row" style="height: 60px;">
                            <mat-form-field fxFlex fxLayoutAlign=" center" [appearance]="editModes[i] ? 'fill' : 'outline'">
                                <mat-label>Kod</mat-label>
                                <input matInput [formControl]="getExampleControl(i, 'code')" [readonly]="!editModes[i]">
                            </mat-form-field>
                            <button mat-icon-button *ngIf="editMode && !editModes[i]" (click)="editModes[i] = true">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="editMode" (click)="deleteExample(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <hr>
                        <div>
                            <cc-markdown-editor fxFlex [label]="'Opis'"
                                [text]="getExampleControl(i, 'description').value"
                                (textChanged)="updateExampleDescription($event, i)" 
                                [editMode]="editModes[i]">
                            </cc-markdown-editor>
                        </div>
                    </mat-card>
                </div>

                <button *ngIf="editMode" mat-raised-button color="primary" (click)="addExample()" >
                    + Dodaj primer
                </button>
            </div>
        </section>
    </form>
</div>