<div style="padding-left: 10px;">
    <form [formGroup]="activityForm">
        <div fxLayoutGap="10px">
            <mat-form-field fxFlex="20" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Kod</mat-label>
                <input formControlName="code" matInput [readonly]="!editMode">
            </mat-form-field>
            <mat-form-field fxFlex="65" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode">
            </mat-form-field>
            <section fxLayout="row" fxFlex="15">
                <span fxFlex></span>
                <button mat-icon-button *ngIf="!editMode" (click)="editMode = true">
                    <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="editMode" color="primary" [disabled]="!activityForm.valid"
                    (click)="submitForm()">
                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                </button>
                <button mat-icon-button *ngIf="editMode" color="warn" (click)="discardChanges()">
                    <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                </button>
            </section>
        </div>
        <div>
            <h4 *ngIf="!editMode">Smernice</h4>
            <section>
                <cc-markdown-editor fxFlex [label]="'Smernice *'" [livePreview]="false"
                    [text]="activityForm.get('guidance.description').value"
                    (textChanged)="this.activityForm.get('guidance.description').setValue($event)"
                    [editMode]="editMode"></cc-markdown-editor>
            </section>
        </div>
        <div *ngIf="examples.controls?.length !== 0"><!-- Examples -->
            <h4>Primeri</h4>
            <div formArrayName="examples" fxLayout="column">
                <div *ngFor="let exampleForm of examples.controls; let i = index">
                    <div [formGroup]="exampleForm" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                        <mat-form-field appearance="fill" fxFlex="30">
                            <mat-label>Kod</mat-label>
                            <input matInput formControlName="code">
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="70">
                            <mat-label>Url</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                        <button mat-icon-button (click)="deleteExample(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addExample()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="standards.controls?.length !== 0"><!-- Standards -->
            <h4>Standardi</h4>
            <div formArrayName="standards" fxLayout="column">
                <div *ngFor="let standardForm of standards.controls; let i = index">
                    <div [formGroup]="standardForm" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                        <mat-form-field appearance="fill" fxFlex="30">
                            <mat-label>Kod</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="70">
                            <mat-label>Opis</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                        <button mat-icon-button (click)="deleteStandard(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addStandard()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>