<mat-card appearance="outlined" style="margin: 10px" fxLayout="column" fxFlex
    (click)="onCourseClick()"
    [ngClass]="{'pointer': user.role.includes('learner')}">
    <mat-card-header>
        <mat-icon mat-card-avatar>book</mat-icon>
        <mat-card-title style="text-align: left;">
            <span *ngIf="user.role === 'instructor'"><b>{{course.code}}</b>: </span>
            {{course.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <markdown>{{course.description}}</markdown>
        </p>
    </mat-card-content>
    <span fxFlex></span>
    <span *ngIf="user.role === 'instructor'" fxLayoutAlign="end" fxLayoutGap="10px">
        <a mat-stroked-button [routerLink]="['/authoring/course', course.id]">
            <mat-icon matTooltip="Autorstvo" [matTooltipPosition]="'below'">edit</mat-icon>
        </a>
        <a mat-stroked-button [routerLink]="['/analytics', course.id, 'statistics']">
            <mat-icon matTooltip="Analitike" [matTooltipPosition]="'below'">bar_chart</mat-icon>
        </a>
        <a mat-stroked-button [routerLink]="['/monitoring', course.id, 'progress']">
            <mat-icon matTooltip="Grupe" [matTooltipPosition]="'below'">groups</mat-icon>
        </a>
    </span>
</mat-card>
