<mat-card class="card" style="margin: 10px;"
    fxFlex="45"
    fxFlex.sm="100"
    fxFlex.xs="100"
    [routerLink]="'/courses/' + course.id">
    <mat-card-header>
        <mat-icon mat-card-avatar>book</mat-icon>
        <mat-card-title style="text-align: left;">{{course.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <markdown>{{course.description}}</markdown>
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf="user.role === 'instructor'" class="right">
        <button mat-flat-button mat-icon-button color="primary" [routerLink]="'/management/courses'">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button mat-icon-button color="primary" [routerLink]="'/analytics/kc-statistics'">
            <mat-icon>bar_chart</mat-icon>
        </button>
        <button mat-flat-button mat-icon-button color="primary" [routerLink]="'/course/-100/learner-progress/-100'">
            <mat-icon>groups</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>