<mat-card appearance="outlined" style="height: 100%;"
    (click)="onCourseClick()" [ngClass]="{'pointer': user.role.includes('learner')}">
    <mat-card-header>
        <mat-icon mat-card-avatar>book</mat-icon>
        <mat-card-title style="text-align: left;">
            <span *ngIf="user.role === 'instructor'"><b>{{course.code}}</b>: </span>
            {{course.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <small><markdown>{{course.description}}</markdown></small>
    </mat-card-content>
    <span style="flex-grow: 1;"></span>
    <mat-card-actions *ngIf="user.role === 'instructor'" class="flex-row" style="gap: 10px;">
        <span style="flex-grow: 1;"></span>
        <a mat-stroked-button [routerLink]="['/authoring/course', course.id]" matTooltip="Autorstvo">
            <div><mat-icon>edit</mat-icon></div>
        </a>
        <a mat-stroked-button [routerLink]="['/analytics', course.id, 'statistics']" matTooltip="Analitike">
            <div><mat-icon>bar_chart</mat-icon></div>
        </a>
        <a mat-stroked-button [routerLink]="['/monitoring', course.id, 'progress']" matTooltip="Grupe">
            <div><mat-icon>groups</mat-icon></div>
        </a>
    </mat-card-actions>
</mat-card>