<div style="flex-grow: 1">
  <div class="flex-row">
    <div class="flex-row">
      <button mat-icon-button (click)="insertElement('bold')">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="headings">
        <mat-icon>title</mat-icon>
      </button>
      <mat-menu #headings="matMenu">
        <div (click)="insertElement('h1')" mat-menu-item>h1</div>
        <div (click)="insertElement('h2')" mat-menu-item>h2</div>
        <div (click)="insertElement('h3')" mat-menu-item>h3</div>
      </mat-menu>
      <mat-divider vertical="true"></mat-divider>
      <button mat-icon-button (click)="insertElement('bulleted')">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button mat-icon-button (click)="insertElement('numbered')">
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <mat-divider vertical="true"></mat-divider>
      <button mat-icon-button (click)="insertElement('code')">
        <mat-icon>code</mat-icon>
      </button>
      <button mat-icon-button (click)="insertElement('link')">
        <mat-icon>link</mat-icon>
      </button>
    </div>
    <span style="flex-grow: 1;"></span>
    <button mat-icon-button (click)="livePreview = !livePreview">
      <mat-icon>{{ livePreview ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <div *ngIf="submitCtrls">
      <mat-divider vertical="true"></mat-divider>
      <button mat-icon-button color="primary" (click)="onSubmit(false)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onSubmit(true)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!sidePreview" class="flex-col">
    <mat-form-field appearance="fill">
      <mat-label>{{label}}</mat-label>
      <textarea #textAreaElement matInput [(ngModel)]="text" [tabindex]="indextab"
        (select)="onSelect($event)" (click)="onClick($event)" (ngModelChange)="onChange()"
        style="height: 290px;"></textarea>
    </mat-form-field>
    <small>
      <markdown *ngIf="livePreview" [data]="text" lineNumbers></markdown>
    </small>
  </div>
  <div *ngIf="sidePreview" class="flex-row" style="height: 65vh; gap: 10px">
    <mat-form-field appearance="fill" style="flex-grow: 1;">
      <mat-label>{{label}}</mat-label>
      <textarea #textAreaElement matInput [(ngModel)]="text" [tabindex]="indextab" style="height: calc(65vh - 40px); resize: none;"
        (select)="onSelect($event)" (click)="onClick($event)" (ngModelChange)="onChange()"></textarea>
    </mat-form-field>
    <small style="width: 50%; overflow-y: auto;" *ngIf="livePreview">
      <markdown [data]="text" lineNumbers></markdown>
    </small>
  </div>
</div>