<div fxLayout="column">
    <mat-card fxFlex *ngIf="kc" fxLayout="column" fxLayoutGap="20px" class="sticky">
        <span fxLayout="row">
            <span fxLayout="column">
                <span fxFlex><b>{{kc.code}}</b>: {{kc.name}}</span>
                <small>Redosled: {{kc.order}} | Minimalno minuta rada: {{kc.expectedDurationInMinutes}}</small>
            </span>
            <span fxFlex></span>
            <span fxLayoutGap="30px" fxLayout="row">
                <span fxLayoutGap="10px" fxLayout="row">
                    <button mat-mini-fab color="primary" [routerLink]="['/authoring/course', courseId]" [queryParams]="{unit: kc.knowledgeUnitId}">
                        <mat-icon matTooltip="Pregledaj hijerarhiju veština" [matTooltipPosition]="'below'">account_tree</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" [routerLink]="['/authoring/course', courseId, 'knowledge-component', kc.id, 'assessments']">
                        <mat-icon matTooltip="Zadaci" [matTooltipPosition]="'above'">quiz</mat-icon>
                    </button>
                </span>
                <span fxLayoutGap="10px" fxLayout="row">
                    <button mat-mini-fab color="primary" (click)="editKc()">
                        <mat-icon matTooltip="Ažuriraj osnovne podatke" [matTooltipPosition]="'above'">edit</mat-icon>
                    </button>
                </span>
            </span>
        </span>
    </mat-card>
    <div style="margin: 15px;" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>