<div class="flex-col" style="height: 100vh;">
    <mat-card appearance="outlined" *ngIf="kc" style="padding: 10px;">
        <span class="flex-row gap">
            <span class="flex-col">
                <span><b>{{kc.code}}</b>: {{kc.name}}</span>
                <small>Redosled: {{kc.order}} | Minimalno minuta rada: {{kc.expectedDurationInMinutes}}</small>
            </span>
            <span style="flex-grow: 1"></span>
            <span class="flex-row" style="gap: 30px">
                <span class="flex-row gap">
                    <a mat-stroked-button matTooltip="Komponente znanja" [routerLink]="['/authoring/course', courseId]"
                        [queryParams]="{unit: kc.knowledgeUnitId, mode: 'kc'}">
                        <span><mat-icon>account_tree</mat-icon></span>
                    </a>
                    <a mat-stroked-button [disabled]="!prevKc" [matTooltip]="prevKc ? 'Komponenta: ' + prevKc.name : 'Nema prethodne komponente'"
                        [routerLink]="prevKc ? ['/authoring/course', courseId, 'unit', prevKc.knowledgeUnitId, 'knowledge-component', prevKc.id, 'instruction'] : null">
                        <span><mat-icon>navigate_before</mat-icon></span>
                    </a>
                    <a mat-stroked-button [disabled]="!nextKc" [matTooltip]="nextKc ? 'Komponenta: ' + nextKc.name : 'Nema sledeće komponente'"
                        [routerLink]="nextKc ? ['/authoring/course', courseId, 'unit', nextKc.knowledgeUnitId, 'knowledge-component', nextKc.id, 'instruction'] : null">
                        <span><mat-icon>navigate_next</mat-icon></span>
                    </a>
                </span>
                <span class="flex-row gap">
                    <a mat-stroked-button matTooltip="Gradivo" 
                        [routerLink]="['/authoring/course', courseId, 'unit', kc.knowledgeUnitId, 'knowledge-component', kc.id, 'instruction']"
                        routerLinkActive="mat-accent">
                        <span><mat-icon>library_books</mat-icon></span>
                    </a>
                    <a mat-stroked-button matTooltip="Pitanja"
                        [routerLink]="['/authoring/course', courseId, 'unit', kc.knowledgeUnitId, 'knowledge-component', kc.id, 'assessments']"
                        routerLinkActive="mat-accent">
                        <span><mat-icon>quiz</mat-icon></span>
                    </a>
                </span>
            </span>
        </span>
    </mat-card>
    <div style="overflow-y: auto; padding: 20px" id="scroller">
        <router-outlet></router-outlet>
    </div>
</div>