<div class="flex-col" style="margin-bottom: 10px; height: 100%">
  <div class="flex-row gap" style="padding: 0 10px; align-items: center; justify-content: space-between;">
    <h2>{{ title() }}</h2>
    <span class="flex-row gap">
      @if (crud()?.crud?.create) {
        <button matMiniFab matTooltip="Dodaj" (click)="onCreate()">
          <mat-icon>add</mat-icon>
        </button>
      }
      @if (crud()?.crud?.bulkCreate) {
        <button matMiniFab matTooltip="Dodaj više" (click)="onBulkCreate()">
          <mat-icon>library_add</mat-icon>
        </button>
      }
    </span>
  </div>

  @if (crud()?.crud?.filter) {
    <mat-form-field style="padding: 0 10px;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input autocomplete="off" aria-label="Filter tabele">
    </mat-form-field>
  }
  <div style="overflow-y: auto; flex-grow: 1;">
    @if (dataSource().data.length > 0) {
      <table mat-table [dataSource]="dataSource()" multiTemplateDataRows>
        @for (field of fieldConfiguration(); track field.code) {
          <ng-container [matColumnDef]="field.code">
            <th mat-header-cell *matHeaderCellDef>{{ field.label }}</th>
            <td mat-cell *matCellDef="let element">
              @switch (field.type) {
                @case ('string') { {{ element[field.code] }} }
                @case ('email') { {{ element[field.code] }} }
                @case ('boolean') {
                  <mat-icon>{{ element[field.code] ? 'check' : 'clear' }}</mat-icon>
                }
                @case ('archive') {
                  <mat-icon>{{ element[field.code] ? 'check' : 'clear' }}</mat-icon>
                }
                @case ('date') { {{ element[field.code] | date : 'd/M/yy' }} }
                @case ('radio') { {{ element[field.code] | fieldOptions: field.options! }} }
                @case ('CRUD') {
                  <span class="flex-row" style="flex-grow: 1;">
                    <span style="flex-grow: 1;"></span>
                    @if (field.crud!.clone) {
                      <button matIconButton matTooltip="Kloniraj" (click)="onClone(element.id); $event.stopPropagation()">
                        <mat-icon>content_copy</mat-icon>
                      </button>
                    }
                    @if (field.crud!.update) {
                      <button matIconButton matTooltip="Izmeni" (click)="onEdit(element.id); $event.stopPropagation()">
                        <mat-icon>edit</mat-icon>
                      </button>
                    }
                    @if (field.crud!.archive && !element.isArchived) {
                      <button matIconButton matTooltip="Arhiviraj" (click)="onArchive(element.id, true); $event.stopPropagation()">
                        <mat-icon>archive</mat-icon>
                      </button>
                    }
                    @if (field.crud!.archive && element.isArchived) {
                      <button matIconButton matTooltip="Dearhiviraj" (click)="onArchive(element.id, false); $event.stopPropagation()">
                        <mat-icon>unarchive</mat-icon>
                      </button>
                    }
                    @if (field.crud!.delete || field.crud!.secureDelete) {
                      <button matIconButton matTooltip="Obriši" (click)="onDelete(element.id, field.crud!.secureDelete ?? false); $event.stopPropagation()">
                        <mat-icon>delete</mat-icon>
                      </button>
                    }
                  </span>
                }
              }
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="columns()"></tr>
        <tr mat-row *matRowDef="let element; columns: columns();" (click)="selectElement(element)"
          [class.highlight]="selectedItem()?.id === element.id" [class.fade]="element.isArchived"></tr>
      </table>
    }
  </div>
  @if (!noPagination()) {
    <mat-paginator (page)="pageChanged($event)" [pageSize]="pageSize()"
      [length]="totalCount()" [pageIndex]="currentPage()"
      [pageSizeOptions]="pageSizeOptions" showFirstLastButtons="true">
    </mat-paginator>
  }
</div>
