<div fxFlex fxLayout="column">
  <mat-card fxLayout="row" class="mat-elevation-z5 sticky">
    <span fxFlex></span>
    <mat-paginator (page)="pageChanged($event)" [pageSize]="pageProperties.pageSize"
    [length]="data?.totalCount" [pageIndex]="pageProperties.page" [pageSizeOptions]="pageProperties.pageSizeOptions"
    class="margin-right" showFirstLastButtons="true"></mat-paginator>
  </mat-card>

  <table mat-table [dataSource]="data?.results" multiTemplateDataRows>
    <ng-container [matColumnDef]="c" *ngFor="let c of columns">
      <th mat-header-cell *matHeaderCellDef>{{fieldConfiguration[c].label}}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="fieldConfiguration[c].type == 'string' || fieldConfiguration[c].type == 'email'">
          {{element[c]}}
        </span>
        <span *ngIf="fieldConfiguration[c].type == 'date'">
          {{element[c] | date : 'd/M/yy'}}
        </span>
        <span *ngIf="fieldConfiguration[c].type == 'control'">
          <button>Edit</button>
        </span>
      </td>
    </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;" class="element-row"></tr>
  </table>
</div>