tr.mat-row {
    cursor: pointer;
}

.highlight {
    background-color: #BBB;
}

.margin {
    margin: 10px;
}

.margin-right {
    margin-right: 50px;
}

.sticky {
    position: sticky;
    top:0;
    z-index: 5;
}

.table-button {
    margin: 3px;
    min-width: unset!important;
    padding-left: 8px;
    padding-right: 8px;
}