<div fxFlex fxLayout="row" fxLayoutGap="30px">
    <cc-generic-table fxFlex="40"
        [fieldConfiguration]="fields"
        [baseUrl]="baseUrl"
        (select)="onSelect($event)">
    </cc-generic-table>
    <div fxFlex="25" fxLayout="column">
        <mat-card>
            TODO: Vlasnici instruktori
            (razmisli o generic tabeli za prikaz (instructors/:id/courses) i o kontrolama za raskidanje i dodavanja veza)
        </mat-card>
    </div>
    <div fxFlex="25" fxLayout="column">
        <mat-card>
            TODO: Vlasnici instruktori
            (razmisli o generic tabeli za prikaz (instructors/:id/courses) i o kontrolama za raskidanje i dodavanja veza)
        </mat-card>
    </div>
</div>