<div class="notes-container" [class.embedded-container]="embedded()">
  <div class="flex-row gap notes-header">
    <small>Beleške za lekciju</small>
    <span style="flex-grow: 1;"></span>
    @if (!addingNote()) {
      <mat-icon class="pointer" (click)="addingNote.set(true)" matTooltip="Dodaj belešku">
        add
      </mat-icon>
      <mat-icon class="pointer" (click)="onExport()" matTooltip="Preuzmi beleške">
        file_download
      </mat-icon>
    }
  </div>

  @if (addingNote()) {
    <mat-card appearance="outlined" class="note-card">
      <cc-markdown-editor [label]="'Nova beleška'" [(text)]="newNoteText" [authoring]="false">
      </cc-markdown-editor>
      <div class="flex-row gap">
        <span style="flex-grow: 1;"></span>
        <button matButton="filled" (click)="onSaveNote()" [disabled]="!newNoteText()">Sačuvaj</button>
        <button matButton (click)="onCancelAddNote()">Otkaži</button>
      </div>
    </mat-card>
  }

  @if (noteViews().length === 0 && !addingNote()) {
    <div class="no-notes-message">
      {{ emptyStateText() }}
    </div>
  }

  @for (nv of noteViews(); track nv.note.id; let i = $index) {
    <mat-card appearance="outlined" class="note-card">
      @if (nv.mode === 'edit') {
        <cc-markdown-editor [text]="nv.note.text" [label]="'Beleška'"
          (textChange)="onNoteTextChange(nv, $event)" [authoring]="false">
        </cc-markdown-editor>
      }
      @if (nv.mode === 'preview') {
        <cc-markdown>{{ nv.note.text }}</cc-markdown>
      }
      <div class="flex-row">
        @if (nv.mode === 'edit') {
          <div class="flex-row" style="flex-grow: 1;">
            <span style="flex-grow: 1;"></span>
            <div class="flex-row gap">
              <button matButton="filled" (click)="onUpdate(nv)" [disabled]="!nv.note.text">Sačuvaj</button>
              <button matButton (click)="onCancelEditNote(nv)">Otkaži</button>
            </div>
          </div>
        }
        @if (nv.mode !== 'edit') {
          <div class="flex-row gap" style="flex-grow: 1;">
            <mat-icon class="pointer" [class.disabled]="i === 0"
              (click)="moveNoteUp(i)" matTooltip="Pomeri gore">
              keyboard_arrow_up
            </mat-icon>
            <mat-icon class="pointer" [class.disabled]="i === noteViews().length - 1"
              (click)="moveNoteDown(i)" matTooltip="Pomeri dole">
              keyboard_arrow_down
            </mat-icon>
            <span style="flex-grow: 1;"></span>
            <mat-icon class="pointer" (click)="onEditNote(nv)">edit</mat-icon>
            <mat-icon class="pointer" (click)="onDelete(nv.note.id!)">delete</mat-icon>
          </div>
        }
      </div>
    </mat-card>
  }
</div>
