<div *ngIf="knowledgeComponent">
  <cc-unit-controls [unitId]="unitId" [courseId]="courseId" [notesExpanded]="sidenavOpened" (expandNotes)="sidenavOpened = $event"
    [kcConfig]="{'instructionActive': instructionalItemsShown}" (kcViewSwapped)="nextPage($event)"></cc-unit-controls>
  <mat-sidenav-container hasBackdrop="true" style="height: 100%;">
    <mat-sidenav mode="over" [opened]="sidenavOpened" (closed)="sidenavOpened = false">
        <cc-notes></cc-notes>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="knowledge-component">
        <br>
        <h1 class="mat-h1">Cilj: {{knowledgeComponent.name}}</h1>
        <cc-learning-object-container
          *ngFor="let learningObject of learningObjects"
          [learningObject]="learningObject">
        </cc-learning-object-container>
        <br>
        <div *ngIf="instructionalItemsShown" fxLayoutGap="10px">
          <button mat-raised-button color="primary" (click)="onAssessmentItemClicked()" i18n>Pređi na zadatke</button>
          <button mat-raised-button [routerLink]="['/course', courseId, 'unit', unitId]" i18n>Pregled lekcije</button>
        </div>
        <div *ngIf="!instructionalItemsShown">
          <div style="margin-bottom: 180px;"></div>
          <cc-submission-result (rateKc)="rateKc()" (changePage)="nextPage($event)" [kcId]="knowledgeComponent.id"></cc-submission-result>
        </div>
        <br>
        <br>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>