@media (max-width: 520px) {
  #knowledge-component {
    text-align: left;
  }
}

h1 {
  font-size: xx-large;
  text-align: left;
}

::ng-deep h1, ::ng-deep h2, ::ng-deep h3, ::ng-deep h4 {
  font-weight: normal;
  text-align: left;
}

.mat-mdc-icon-button {
  margin: 10px;
}