<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav fixedInViewport="true" mode="side" position="end" [opened]="sidenavOpened">
    <button mat-raised-button mat-icon-button color="primary" (click)="sidenavOpened = false">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <h2 class="mat-h2" i18n>
      Beleške
    </h2>
    <cc-notes></cc-notes>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="fixed">
      <button mat-raised-button mat-icon-button color="primary" (click)="sidenavOpened = true">
        <mat-icon i18n-matTooltip matTooltip="Tvoje beleške.">assignment</mat-icon>
      </button>
    </div>
    <div id="knowledge-component" *ngIf="knowledgeComponent">
      <h3>Cilj: {{knowledgeComponent.name}}</h3>
      <mat-divider></mat-divider>
      <cc-learning-object-container
        *ngFor="let learningObject of learningObjects"
        [learningObject]="learningObject">
      </cc-learning-object-container>
      <br>
      <div *ngIf="instructionalItemsShown">
        <button id="rate" mat-raised-button color="primary" (click)="onAssessmentItemClicked()" i18n>Pređi na zadatke</button>
      </div>
      <div *ngIf="!instructionalItemsShown">
        <cc-submission-result (nextPageEvent)="nextPage($event)" [kcId]="knowledgeComponent.id">
        </cc-submission-result>
      </div>
      <br>
      <br><br>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
