<mat-card appearance="outlined" style="padding: 10px 10px 0 10px">
<form class="flex-col" [formGroup]="courseForm">
    <section class="flex-row gap">
        <mat-form-field style="width: 15%;" [appearance]="editMode ? 'fill' : 'outline'">
            <mat-label>Kod</mat-label>
            <input formControlName="code" matInput [readonly]="!editMode">
        </mat-form-field>
        <mat-form-field style="width: 65%;" [appearance]="editMode ? 'fill' : 'outline'">
            <mat-label>Naziv</mat-label>
            <input formControlName="name" matInput [readonly]="!editMode">
        </mat-form-field>
        <span style="flex-grow: 1"></span>
        <section class="flex-col" style="width: auto;">
            <span class="flex-row gap">
                <button mat-icon-button *ngIf="!editMode" (click)="editMode = true" matTooltip="Izmeni"
                    [color]="course?.description ? '' : 'primary'">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" matTooltip="Sačuvaj"
                    (click)="saveChanges()" color="primary" [disabled]="courseForm.invalid">
                    <mat-icon >check</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" matTooltip="Odbaci"
                    (click)="discardChanges()" color="warn">
                    <mat-icon>clear</mat-icon>
                </button>
            </span>
        </section>
    </section>
    <section *ngIf="editMode">
        <mat-form-field [appearance]="editMode ? 'fill' : 'outline'" style="width: 100%;">
            <mat-label>Opis</mat-label>
            <textarea formControlName="description" matInput [readonly]="!editMode" rows="6"></textarea>
        </mat-form-field>
    </section>
</form>
</mat-card>