<form fxLayout="column">
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Kod</mat-label>
            <input matInput>
            <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" color="accent">edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Naziv</mat-label>
            <input matInput>
            <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" color="accent">edit</mat-icon>
        </mat-form-field>
    </section>
    <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea matInput></textarea>
        <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" color="accent">edit</mat-icon>
    </mat-form-field>
</form>