<div id="arrange-task" class="mat-card">
  <div>
    <markdown lineNumbers [start]="0" ngPreserveWhitespaces>
      ```{{"csharp"}}  <!-- This is just example how we can load our language dynamically. -->
      {{learningObject.text}}
      ```
    </markdown>
  </div>
  <div
    cdkDropListGroup
    [cdkDropListGroupDisabled]="answered"
    fxLayout="row wrap"
    ngClass.xl="m-lg"
    ngClass.lg="m-lg"
    ngClass.md="m-md">
    <div
      *ngFor="let container of state"
      fxFlex="30"
      fxFlex.md="48"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column">
      <div class="mat-card-subtitle">{{container.title}}</div>
      <div
        class="list-container"
        cdkDropList
        [cdkDropListData]="container.elements"
        (cdkDropListDropped)="drop($event)">
        <mat-list-item
          class="mat-card"
          cdkDrag
          *ngFor="let element of container.elements"
          fxLayout="row"
          fxLayoutAlign="none center">
          <div *ngIf="answered" fxFlex="12">
            <mat-icon *ngIf="isElementCorrect(element.id, container.id)" color="primary">done</mat-icon>
            <mat-icon *ngIf="!isElementCorrect(element.id, container.id)" color="accent">close</mat-icon>
          </div>
          <div fxFlex>
            {{element.text}}
          </div>
        </mat-list-item>
        <div *ngIf="answered">
          <mat-list-item
            *ngFor="let element of getMissingElements(container.id)"
            class="card"
            fxLayout="row"
            fxLayoutAlign="none center">
            {{element.text}}
          </mat-list-item>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!answered" fxLayout="row">
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    <button mat-flat-button color="accent" (click)="resetState()">Reset</button>
  </div>
</div>
