@for (item of items(); track item.id; let i = $index) {
  <mat-card appearance="outlined" class="review-card">
    <div class="card-header theme-highlight-primary">
      <span class="item-number">{{ i + 1 }}.</span>
      @if(!isVisible(item.id)) {
        <button matIconButton (click)="toggleAnswer(item.id)" matTooltip="Prikaži odgovor i povratnu informaciju">
          <mat-icon>visibility</mat-icon>
        </button>
      }
    </div>
    <div class="card-content">

      <cc-markdown [lineNumbers]="true">{{ item.text }}</cc-markdown>

      @switch (item.$type) {
        @case ('multiChoiceQuestion') {
          <b>Ponuđeni odgovori:</b>
          @for (answer of item.possibleAnswers; track answer) {
            <p class="flex-row gap">
              @if (isVisible(item.id)) {
                @if (answer === item.correctAnswer) {
                  <mat-icon>check</mat-icon>
                } @else {
                  <mat-icon></mat-icon>
                }
              } @else {
                <mat-icon>radio_button_unchecked</mat-icon>
              }
              <span>{{ answer }}</span>
            </p>
          }
          @if (isVisible(item.id)) {
            <div>
              <b>Povratna informacija</b>:
              <cc-markdown>{{ item.feedback }}</cc-markdown>
            </div>
          }
        }
        @case ('multiResponseQuestion') {
          <b>Ponuđeni odgovori:</b>
          @for (mrqItem of item.items; track mrqItem.text) {
            <p class="flex-col">
              <span class="flex-row gap">
                @if (isVisible(item.id)) {
                  @if (mrqItem.isCorrect) {
                    <mat-icon>check</mat-icon>
                  } @else {
                    <mat-icon>clear</mat-icon>
                  }
                } @else {
                  <mat-icon>check_box_outline_blank</mat-icon>
                }
                <span>{{ mrqItem.text }}</span>
              </span>
              @if (isVisible(item.id) && mrqItem.feedback) {
                <small style="margin-left:34px">{{ mrqItem.feedback }}</small>
              }
            </p>
          }
        }
        @case ('shortAnswerQuestion') {
          @if (isVisible(item.id)) {
            <b>Prihvatljivi odgovori:</b>
            @for (answer of item.acceptableAnswers; track answer) {
              <p class="flex-row">
                <mat-icon>arrow_right</mat-icon>
                <span>{{ answer }}</span>
              </p>
            }
            <div>
              <b>Povratna informacija</b>: {{ item.feedback }}
            </div>
          }
        }
      }
    </div>
  </mat-card>
}
