<mat-dialog-content class="container">
  <div class="flex-col gap" *ngIf="!endMessage">
    <span *ngIf="!flags.isLearnerInitiated">🫡 Zdravo! Zanimaju me tvoji utisci od poslednjeg puta kad smo se čuli.</span>
    <span *ngIf="flags.isLearnerInitiated">🥰 Zdravo! Vidim da nam samoinicijativno daješ povratnu informaciju.<br>Ovo će nam baš pomoći da razumemo gde treba da se unapredimo!</span>
    <mat-divider></mat-divider>
    <form [formGroup]="ratingForm" class="flex-col">
      <section *ngIf="!flags.isLearnerInitiated" class="flex-col">
        <mat-label><b><mat-icon>trending_up</mat-icon> Koliki napredak vidiš kod sebe?</b></mat-label>
        <div class="label-group">
          <small *ngFor="let label of options.learnerProgress" class="option-label">{{label}}</small>
        </div>
        <mat-slider [min]="1" [max]="5" [step]="1">
          <input formControlName="learnerProgress" matSliderThumb>
        </mat-slider>
      </section>
      <section *ngIf="flags.kcFeedback" class="flex-col">
        <mat-label><b>
          <mat-icon>library_books</mat-icon> {{ flags.isLearnerInitiated ? 'Za odabranu komponentu, koliko je gradivo jasno izloženo?' : 'Koliko je gradivo bilo jasno izloženo?' }}
        </b></mat-label>
        <div class="label-group">
          <small *ngFor="let label of options.instructionClarity" class="option-label">{{label}}</small>
        </div>
        <mat-slider [min]="1" [max]="5" [step]="1">
          <input formControlName="instructionClarity" matSliderThumb>
        </mat-slider>
        <mat-label><b>
          <mat-icon>quiz</mat-icon> {{ flags.isLearnerInitiated ? 'Za odabranu komponentu, koliko su pitanja jasno formulisana?' : 'Koliko su pitanja bila jasno formulisana?' }}
        </b></mat-label>
        <div class="label-group">
          <small *ngFor="let label of options.assessmentClarity" class="option-label">{{label}}</small>
        </div>
        <mat-slider [min]="1" [max]="5" [step]="1">
          <input formControlName="assessmentClarity" matSliderThumb>
        </mat-slider>
      </section>
      <section *ngIf="flags.taskFeedback" class="flex-col">rebase_edit
        <mat-label><b>
          <mat-icon>rebase_edit</mat-icon> {{ flags.isLearnerInitiated ? 'Koliko je odabran zadatak zahtevan za rešavanje?' : 'Koliko su zadaci bili zahtevni?' }}</b>
        </mat-label>
        <div class="label-group">
          <small *ngFor="let label of options.taskChallenge" class="option-label">{{label}}</small>
        </div>
        <mat-slider [min]="-2" [max]="2" [step]="1">
          <input formControlName="taskChallenge" matSliderThumb>
        </mat-slider>
      </section>
      <mat-form-field appearance="fill" style="width: 100%; padding: 0px;">
        <mat-label>Da li treba negde posebno da obratimo pažnju?</mat-label>
        <textarea matInput style="height: 65px;" formControlName="comment" autocomplete="off"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="endMessage" @fadeIn>{{endMessage}}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="flags.isLearnerInitiated || endMessage" mat-flat-button (click)="close()" style="margin-right: 10px; margin-bottom: 5px;">Zatvori</button>
  <button *ngIf="!endMessage" [disabled]="isProcessing" mat-flat-button color="primary" (click)="submit()" style="margin-right: 16px; margin-bottom: 5px;">Pošalji</button>
  <mat-progress-bar *ngIf="endMessage" mode="determinate" [value]="endProgress" style="width: 100%;"></mat-progress-bar>
</mat-dialog-actions>