<mat-card class="crud-form mat-elevation-z5">
<form [formGroup]="formGroup" fxLayout="column">
  <div fxFlex *ngFor="let c of columns">
    <mat-form-field appearance="fill" *ngIf="fieldConfiguration[c].type == 'email'" fxFlex>
      <mat-label>{{fieldConfiguration[c].label}}</mat-label>
      <input matInput placeholder="pera@gmail.com" formControlName="{{c}}">
      <mat-error *ngIf="formGroup.controls[c].invalid && formGroup.controls[c].touched">{{getErrorMessage(c)}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="fieldConfiguration[c].type == 'string'" fxFlex>
      <mat-label>{{fieldConfiguration[c].label}}</mat-label>
      <input matInput formControlName="{{c}}">
      <mat-error *ngIf="formGroup.controls[c].invalid && formGroup.controls[c].touched">{{getErrorMessage(c)}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="fieldConfiguration[c].type == 'date'" fxFlex>
      <mat-label>{{fieldConfiguration[c].label}}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="{{c}}">
      <span fxFlex></span>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.controls[c].invalid && formGroup.controls[c].touched">{{getErrorMessage(c)}}</mat-error>
    </mat-form-field>
  </div>
  <div fxFlex="column" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="onSubmit()" fxFlex>Sačuvaj izmene</button>
    <button mat-raised-button (click)="onSubmit()" fxFlex>Obriši izmene</button>
  </div>
</form>
</mat-card>