<div id="notes" fxLayout="column">
  <div *ngIf="edit" class="mat-card" fxLayout="column">
    <!--ngx-mat-markdown-text-editor
      [(ngModel)]="text"
      livePreviewEnabled="true"
      matAutosize="true"></ngx-mat-markdown-text-editor-->
    <cc-markdown-editor [(ngModel)]="text"></cc-markdown-editor>
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!text">Save</button>
      <button mat-flat-button color="accent" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div *ngIf="!edit" fxLayout="row" fxLayoutAlign="center none" class="note-width">
    <button mat-icon-button mat-raised-button color="primary" (click)="edit = true">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="notes.length === 0 && !edit" fxFlexAlign="center">
    You have not added your first note yet.
  </div>
  <mat-card class="note-width" *ngFor="let note of notes">
    <markdown>{{note.text}}</markdown>
    <mat-card-actions align="end">
      <mat-icon class="pointer" (click)="onDelete(note.id)" color="accent">delete</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
