<div fxLayout="column" class="editor-container">
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <div fxLayout="row" fxLayoutGap="5px">
      <mat-icon (click)="insertElement('bold')">format_bold</mat-icon>
      <mat-icon (click)="insertElement('italic')">format_italic</mat-icon>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon [matMenuTriggerFor]="menu">title</mat-icon>
      <mat-menu #menu class="mat-menu" fxLayout="column">
        <div (click)="insertElement('h1')" mat-menu-item>
          h1
        </div>
        <div (click)="insertElement('h2')" mat-menu-item>
          h2
        </div>
        <div (click)="insertElement('h3')" mat-menu-item>
          h3
        </div>
      </mat-menu>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon (click)="insertElement('bulleted')">format_list_bulleted</mat-icon>
      <mat-icon (click)="insertElement('numbered')">format_list_numbered</mat-icon>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon (click)="insertElement('code')">code</mat-icon>
    </div>
    <mat-icon (click)="livePreview = !livePreview">
      {{ livePreview ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea #textAreaElement matInput [(ngModel)]="value" (select)="onSelect($event)" (click)="onClick($event)" mat-autosize="true"></textarea>
    </mat-form-field>
  </div>
  <p *ngIf="livePreview" [data]="value" markdown></p>
</div>

