<div style="display: flex; flex-direction: column;">
  <button class="navbar-button" mat-button routerLink="/management/courses" routerLinkActive="mat-accent">
    <div>
      <mat-icon>collections_bookmark</mat-icon>
      Kursevi
    </div>
  </button>
  <button class="navbar-button" mat-button routerLink="/management/stakeholders/learners" routerLinkActive="mat-accent">
    <div>
      <mat-icon>group</mat-icon>
      Učenici
    </div>
  </button>
  <button class="navbar-button" mat-button routerLink="/management/stakeholders/instructors" routerLinkActive="mat-accent">
    <div>
      <mat-icon>record_voice_over</mat-icon>
      Predavači
    </div>
  </button>
</div>