<div fxLayout="column">
  <button mat-button routerLink="/management/courses" routerLinkActive="mat-flat-button">
    <mat-icon>collections_bookmark</mat-icon><br>
    Kursevi
  </button>
  <button mat-button routerLink="/management/stakeholders/learners" routerLinkActive="mat-flat-button">
    <mat-icon>group</mat-icon><br>
    Učenici
  </button>
  <button mat-button routerLink="/management/stakeholders/instructors" routerLinkActive="mat-flat-button">
    <mat-icon>record_voice_over</mat-icon><br>
    Predavači
  </button>
</div>