.container {
  text-align: center;
  padding: 20px;
}

star-rating {
  margin-bottom: 10px;
  cursor: pointer;
}

pre {
  margin: 0;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
