.container {
  text-align: center;
  width: calc(100vw - 200px);
  padding: 5px;
}

@media (min-width: 850px) {
  .container {
    width: 670px;
  }
}

star-rating {
  margin-left: 10px;
}

pre {
  margin: 0;
  font-size: 16px;
}
