#question {
  display: block;
  max-width: 75%;
  margin: auto;
  padding: 10px;
}

button {
  margin: 10px;
}

mat-icon {
  margin-right: 1em;
  font-size: 2em;
}

mat-checkbox {
  margin-top: 1em;
}

mat-checkbox:hover {
  background-color: #f7f7f7;
}

:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container{
  margin-top: 4px;
}
