<div id="question" class="mat-card">
  <h3 class="mat-h3">{{learningObject.text}}</h3>
  <div>
    <mat-selection-list [(ngModel)]="answers">
      <mat-list-option [value]="answer.id" *ngFor="let answer of learningObject.answers">
        {{answer.text}}
      </mat-list-option>
    </mat-selection-list>
    <div fxLayout="row">
      <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
      <div *ngIf="answered" fxLayout="row" fxFlexAlign="end">
        <mat-icon color="primary">done</mat-icon>
        <h2 class="mat-h2">Your answer has been submitted.</h2>
      </div>
    </div>
  </div>
</div>
