<div fxLayout="column" class="fixed">
    <div fxLayout="column">
        <small>{{unit?.name}}</small>
        <button mat-button [routerLink]="['/course', unit?.courseId, 'unit', unit?.id]"
            routerLinkActive="mat-raised-button" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>article</mat-icon><br>
            Pregled
        </button>
        <button mat-button [ngClass]="{'mat-raised-button': notesExpanded}" (click)="openNotes()">
            <mat-icon>assignment</mat-icon>
            <mat-icon *ngIf="!notesExpanded">arrow_right</mat-icon>
            <mat-icon *ngIf="notesExpanded">arrow_left</mat-icon>
            <br>
            Beleške
        </button>
    </div>
</div>