<div fxLayout="column" style="height: 100%;">
    <mat-card fxLayout="row" fxLayoutAlign="center center" class="mat-elevation-z2 sticky" style="padding-bottom: 0;">
        <span fxFlex fxLayoutGap="10px">
            <mat-form-field appearance="fill">
                <mat-label>Lekcije</mat-label>
                <mat-select [(value)]="selectedUnit" (selectionChange)="changeUnitSelection($event)">
                    <mat-option *ngFor="let unit of units" [value]="unit">
                        {{unit.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button *ngIf="selectedUnit" mat-mini-fab (click)="changeDisplay(null, AnalyticsType.Top10)"
                [color]="analyticsTypeDisplay === AnalyticsType.Top10 ? 'accent' : ''">
                <mat-icon matTooltip="Top 10 teških pitanja" [matTooltipPosition]="'above'">quizz</mat-icon>
            </button>
        </span>
        <span fxFlex="nogrow">
            <button id="exportAllToCSV" color="primary" mat-raised-button [disabled]="!selectedUnit" (click)="exportToCSV(selectedUnit)">Događaji lekcije</button>
        </span>
    </mat-card>

    <div fxFlex>
        <div fxFlex="25">
            <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
                <div *cdkVirtualFor="let kc of selectedUnit?.knowledgeComponents">
                    <div [class.highlight]="selectedKc?.id===kc.id" style="padding: 10px">
                        <span><b>{{kc.code}}</b>: {{kc.name}}</span>
                        <span fxLayout="row" fxLayoutGap="20px">
                            <span fxLayout="row">
                                <button mat-icon-button (click)="changeDisplay(kc, AnalyticsType.Kc)"
                                    [class.mat-flat-button]="selectedKc?.id===kc.id && analyticsTypeDisplay === AnalyticsType.Kc"
                                    [color]="selectedKc?.id===kc.id && analyticsTypeDisplay === AnalyticsType.Kc ? 'accent' : ''">
                                    <mat-icon matTooltip="Analiza komponente znanja" [matTooltipPosition]="'above'">text_snippet</mat-icon>
                                </button>
                                <button mat-icon-button class="mat-flat-button" (click)="changeDisplay(kc, AnalyticsType.Ai)"
                                    [class.mat-flat-button]="selectedKc?.id===kc.id && analyticsTypeDisplay === AnalyticsType.Ai"
                                    [color]="selectedKc?.id===kc.id && analyticsTypeDisplay === AnalyticsType.Ai ? 'accent' : ''">
                                    <mat-icon matTooltip="Analiza pitanja" [matTooltipPosition]="'above'">quiz</mat-icon>
                                </button>
                            </span>
                            <a mat-icon-button mat-stroked-button [routerLink]="['/authoring/course', courseId, 'unit', kc.knowledgeUnitId, 'knowledge-component', kc.id, 'instruction']">
                                <mat-icon matTooltip="Autorstvo gradiva komponente" [matTooltipPosition]="'above'">library_books</mat-icon>
                            </a>
                            <span fxFlex></span>
                            <span fxLayout="column" *ngIf="ratingAverages && ratingAverages[kc.id]">
                                <span fxFlex></span>
                                <small>{{ratingAverages[kc.id]}} / 5 ({{ratings[kc.id].length}} ocena)</small>
                            </span>
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div fxFlex="75" *ngIf="analyticsTypeDisplay === AnalyticsType.Top10">
            <cc-ai-statistics fxFlex [unitId]="selectedUnit.id" [courseId]="courseId"></cc-ai-statistics>
        </div>
        <div fxFlex="75" *ngIf="selectedKc && analyticsTypeDisplay === AnalyticsType.Kc && ratings">
            <cc-kc-statistics fxFlex [kcId]="selectedKc.id" [ratings]="ratings[selectedKc.id]"></cc-kc-statistics>
        </div>
        <div fxFlex="75" *ngIf="selectedKc && analyticsTypeDisplay === AnalyticsType.Ai">
            <cc-ai-statistics fxFlex [kcId]="selectedKc.id" [unitId]="selectedUnit.id" [courseId]="courseId"></cc-ai-statistics>
        </div>
    </div>
</div>
