button.mat-mdc-outlined-button {
  border-radius: 50% !important;
  padding: 0px !important;
  min-width: 48px !important;
  height: 48px !important;
}

.slider-labels {
  width: 100%;
  justify-content: space-between;
  margin-bottom: -15px;
  text-align: center;
  font-size: 12px;
  small {
    width: 70px;
  }
}