<div class="flex-col">
  <button class="navbar-button" mat-button [matMenuTriggerFor]="course">
    <div>
      <mat-icon>collections_bookmark</mat-icon><br>
      Kursevi
    </div>
  </button>
  <mat-menu #course="matMenu">
    <button [routerLink]="['courses', course.id]" *ngFor="let course of courses" mat-menu-item>
      <div [ngClass]="{'accent': course.id === selectedCourse?.id}">{{course.name}}</div>
    </button>
  </mat-menu>
  <div *ngIf="selectedCourse" class="flex-col">
    <mat-divider></mat-divider>
    <small>{{selectedCourse.name}}</small>
    <button class="navbar-button" mat-button [routerLink]="['courses', selectedCourse.id]" routerLinkActive="mat-accent">
      <div>
        <mat-icon>library_books</mat-icon><br>
        Sve lekcije
      </div>
    </button>
  </div>
</div>