:host {
  display: block;
}

button {
  padding: 5px;
  line-height: 160%;
  text-align: center;
}

small {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}