<div class="flex-col gap">
    <small class="flex-row" style="align-items: center;">
        <button mat-icon-button (click)="copyPrompt()" matTooltip="Kopiraj prompt za AI evaluaciju svih pitanja" color="primary">
            <mat-icon>memory</mat-icon>
        </button>
        <span style="flex-grow: 1;">
            <b>Preporuke</b>: Sortiraj pitanja po težini; Izbegavaj reprodukciju činjenica i fokusiraj se na analizu primera; Definiši 1 hint za teža pitanja.
        </span>
        <span>
            <b>Broj pitanja</b>: {{ assessmentItems?.length }}
        </span>
    </small>
    <mat-card appearance="outlined" *ngFor="let item of assessmentItems; let i = index;" id="a{{item.id}}">
        <div *ngIf="!editMap[item.id]">
            <div class="flex-row gap theme-highlight-primary">
                <small class="flex-row" style="flex-grow: 1; align-items: center; padding-left: 10px;" [ngClass]="{'warn': item.id == selectedAi}">
                    <b>{{i + 1}}.&nbsp;&nbsp;</b>
                    <span><b>Tip: </b>{{getTypeLabel(item.$type)}}</span>
                    <button mat-icon-button (click)="viewCommonWrongAnswers(item.id)" matTooltip="Najčešći pogrešni odgovori">
                        <mat-icon>bar_chart</mat-icon>
                    </button>
                    <button mat-icon-button (click)="copyPrompt(item)" matTooltip="Kopiraj prompt za AI evaluaciju pitanja">
                        <mat-icon>memory</mat-icon>
                    </button>
                    <button mat-icon-button (click)="copyLink(item.id)" matTooltip="Kopiraj link do pitanja">
                        <mat-icon>link</mat-icon>
                    </button>
                </small>
                <div class="flex-row">
                    <button mat-icon-button *ngIf="i !== 0" matTooltip="Rotiraj sa gornjim"
                        (click)="swapOrder(item, assessmentItems[i-1])">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="i !== (assessmentItems.length-1)" matTooltip="Rotiraj sa donjim"
                        (click)="swapOrder(item, assessmentItems[i+1])">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
                <div class="flex-row">
                    <button mat-icon-button (click)="editMap[item.id] = true" matTooltip="Ažuriraj">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="cloneItem(item)" matTooltip="Kloniraj">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
                <button mat-icon-button (click)="deleteItem(item.id)" matTooltip="Obriši">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div style="padding: 0 10px">
                <markdown lineNumbers>{{item.text}}</markdown>
                <mat-divider style="margin: 10px 0;"></mat-divider>
                <div>
                    <div *ngIf="item.$type === 'multiChoiceQuestion'">
                        <b>Ponuđeni odgovori:</b>
                        <p *ngFor="let option of item.possibleAnswers" class="flex-row gap">
                            <span>
                                <mat-icon *ngIf="option === item.correctAnswer">check</mat-icon>
                                <mat-icon *ngIf="option !== item.correctAnswer"></mat-icon>
                            </span>
                            <span>{{option}}</span>
                        </p>
                        <div>
                            <b>Povratna informacija</b>: {{item.feedback}}
                        </div>
                    </div>
                    <div *ngIf="item.$type === 'multiResponseQuestion'">
                        <b>Ponuđeni odgovori:</b>
                        <p *ngFor="let option of item.items" class="flex-col">
                            <span class="flex-row gap">
                                <span>
                                    <mat-icon *ngIf="option.isCorrect">check</mat-icon>
                                    <mat-icon *ngIf="!option.isCorrect">clear</mat-icon>
                                </span>
                                <span>{{option.text}}</span>
                            </span>
                            <small style="margin-left:34px">{{option.feedback}}</small>
                        </p>
                    </div>
                    <div *ngIf="item.$type === 'shortAnswerQuestion'">
                        <b>Prihvatljivi odgovori:</b>
                        <p *ngFor="let option of item.acceptableAnswers" class="flex-row">
                            <mat-icon>arrow_right</mat-icon>
                            <span>{{option}}</span>
                        </p>
                        <div>
                            <b>Povratna informacija</b>: {{item.feedback}}
                        </div>
                        <p>
                            <b>Tolerancija</b>: {{item.tolerance}}
                        </p>
                    </div>
                </div>
                <div>
                    <mat-divider style="margin: 10px 0;"></mat-divider>
                    <p>
                        <b *ngIf="item.hints.length === 0">Nema definisanih smernica!</b>
                        <b *ngIf="item.hints.length !== 0">Definisane smernice (hints):</b>
                    </p>
                    <ul>
                        <li *ngFor="let hint of item.hints">{{hint}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="editMap[item.id]">
            <div *ngIf="item.$type === 'multiChoiceQuestion'">
                <cc-mcq-form [item]="item" (saveChanges)="onCloseForm($event, item.id)" (requestPrompt)="copyPrompt($event)"></cc-mcq-form>
            </div>
            <div *ngIf="item.$type === 'multiResponseQuestion'">
                <cc-mrq-form [item]="item" (saveChanges)="onCloseForm($event, item.id)" (requestPrompt)="copyPrompt($event)"></cc-mrq-form>
            </div>
            <div *ngIf="item.$type === 'shortAnswerQuestion'">
                <cc-saq-form [item]="item" (saveChanges)="onCloseForm($event, item.id)" (requestPrompt)="copyPrompt($event)"></cc-saq-form>
            </div>
        </div>
    </mat-card>
    <mat-card appearance="outlined" id="aform">
        <span *ngIf="!editMap[0]" class="flex-row gap" style="padding: 10px; align-items: center;">
            <b>Pitanja</b>
            <button mat-raised-button color="primary" (click)="createEmptyItem('multiChoiceQuestion')">
                + Višestruki izbor, jedan odgovor
            </button>
            <button mat-raised-button color="primary" (click)="createEmptyItem('multiResponseQuestion')">
                + Višestruki izbor, više odgovora
            </button>
            <button mat-raised-button color="primary" (click)="createEmptyItem('shortAnswerQuestion')">
                + Kratak otvoren odgovor
            </button>
        </span>
        <div *ngIf="editMap[0]?.$type === 'multiChoiceQuestion'">
            <cc-mcq-form [item]="editMap[0]" (saveChanges)="onCloseForm($event)" (requestPrompt)="copyPrompt($event)"></cc-mcq-form>
        </div>
        <div *ngIf="editMap[0]?.$type === 'multiResponseQuestion'">
            <cc-mrq-form [item]="editMap[0]" (saveChanges)="onCloseForm($event)" (requestPrompt)="copyPrompt($event)"></cc-mrq-form>
        </div>
        <div *ngIf="editMap[0]?.$type === 'shortAnswerQuestion'">
            <cc-saq-form [item]="editMap[0]" (saveChanges)="onCloseForm($event)" (requestPrompt)="copyPrompt($event)"></cc-saq-form>
        </div>
    </mat-card>
</div>
