<mat-progress-bar style="margin: 10px" mode="indeterminate" *ngIf="progressBarActive"></mat-progress-bar>
<div fxLayout="row wrap">
    <div fxFlex="50" *ngFor="let learnerProgress of progresses">
    <div style="margin: 10px">
        <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'" style="padding: 10px">
            <mat-panel-title>
                <b>{{learnerProgress.learner.index}} {{learnerProgress.learner.name}} {{learnerProgress.learner.surname}}</b>
            </mat-panel-title>
            <mat-panel-description>
                <div fxFlex></div>
                <div>
                    <div class="progress">{{learnerProgress.kcCount}} / {{learnerProgress.satisfiedCount}} / {{learnerProgress.suspiciousCount}}</div>
                    <div class="small-text">veštine/zadovoljeno/sumnjivo</div>
                </div>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <cc-assessments-table [knowledgeComponentProgresses]="learnerProgress.knowledgeComponentProgress" [kcs]="knowledgeComponents">
            </cc-assessments-table>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    </div>
</div>