<div class="margin">
    <mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'" style="padding: 10px">
        <mat-panel-title>
            <b>{{learnerProgress.learner.index}} {{learnerProgress.learner.name}} {{learnerProgress.learner.surname}}</b>
        </mat-panel-title>
        <mat-panel-description>
            <div fxFlex></div>
            <div>
                <div class="progress">{{kcNum}} / {{satisfiedNum}} / {{suspiciousNum}}</div>
                <div class="small-text">veštine/zadovoljeno/sumnjivo</div>
            </div>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <cc-assessments-table
            [knowledgeComponentProgresses]="filteredLearnerProgress"
            [kcs]="kcs"
            [kcUnitId]="unitId">
        </cc-assessments-table>
    </mat-expansion-panel>
    </mat-accordion>
</div>
