<mat-progress-bar style="margin: 10px" mode="indeterminate" *ngIf="progressBarActive"></mat-progress-bar>
<div fxLayout="row wrap">
    <div fxFlex="50" *ngFor="let learnerProgress of progresses">
    <div style="margin: 10px">
        <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'" style="padding: 10px">
              <div style="width:100%" fxLayout="row" fxLayoutAlign="space-between">
                <span>
                  {{learnerProgress.learner.index}} {{learnerProgress.learner.name}} {{learnerProgress.learner.surname}}
                </span>
                <small fxLayout="column" fxLayoutAlign=" center">
                    <span>{{learnerProgress.kcCount}} / {{learnerProgress.satisfiedCount}} / {{learnerProgress.suspiciousCount}}</span>
                    <span>ukupno/zadovoljeno/sumnjivo</span>
                </small>
                <mat-icon *ngIf="learnerProgress.performance === 'ok'" class="primary">check_circle</mat-icon>
                <mat-icon *ngIf="learnerProgress.performance === 'consult'" class="accent"
                  matTooltip="Javi se profesoru na kraju sledećih predavanja" >group</mat-icon>
                <mat-icon *ngIf="learnerProgress.performance === 'poor'" class="warn">report_problem</mat-icon>
              </div>
            </mat-expansion-panel-header>
            <cc-assessments-table [knowledgeComponentProgresses]="learnerProgress.knowledgeComponentProgress" [kcs]="unit.knowledgeComponents">
            </cc-assessments-table>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    </div>
</div>
