@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  .accent {
    $primary-palette: map.get($color-config, 'accent');
    color: mat.get-color-from-palette($primary-palette);
  }

  .warn {
    $primary-palette: map.get($color-config, 'warn');
    color: mat.get-color-from-palette($primary-palette);
  }

  .primary {
    $primary-palette: map.get($color-config, 'primary');
    color: mat.get-color-from-palette($primary-palette);
  }
}

.mat-accordion {
  width: 100%;
}

.progress {
  margin-left: 50px;
}
