@if (form) {
  <div class="flex-row theme-highlight-primary" style="height: 48px; align-items: center;">
    <small class="flex-row" style="align-items: center; padding-left: 10px;">
      <b>Tip:</b>&nbsp;Pitanje sa višestrukim izborom i više odgovara
    </small>
    <button matIconButton (click)="copyPrompt()" matTooltip="Kopiraj prompt za AI evaluaciju pitanja">
      <mat-icon>memory</mat-icon>
    </button>
    <span style="flex-grow: 1"></span>
    <span class="flex-row gap">
      <button matMiniFab [disabled]="form.invalid || workingItem.text === '' || options.length === 0" (click)="save()">
        <mat-icon>check</mat-icon>
      </button>
      <button matMiniFab (click)="cancel()">
        <mat-icon>clear</mat-icon>
      </button>
    </span>
  </div>
  <mat-divider />
  <div class="flex-col gap">
    <cc-markdown-editor [label]="'Tekst pitanja'" [sidePreview]="true"
      [text]="workingItem.text" (textChange)="updateText($event)" />
    <div [formGroup]="form" class="flex-col gap" style="padding: 0 10px 10px 10px;">
      <b>Mogući odgovori:</b>
      <div formArrayName="options" class="flex-col">
        @for (optionForm of options.controls; track $index; let i = $index) {
          <div [formGroup]="asFormGroup(optionForm)" class="flex-row gap">
            <mat-form-field style="flex-grow: 1">
              <mat-label>Tekst</mat-label>
              <input matInput formControlName="text">
            </mat-form-field>
            <mat-form-field style="flex-grow: 1">
              <mat-label>Povratna informacija</mat-label>
              <input matInput formControlName="feedback">
            </mat-form-field>
            <mat-form-field style="width: 100px">
              <mat-label>Tačno?</mat-label>
              <mat-select formControlName="isCorrect">
                <mat-option [value]="false">Ne</mat-option>
                <mat-option [value]="true">Da</mat-option>
              </mat-select>
            </mat-form-field>
            <button matIconButton (click)="removeOption(i)"><mat-icon>delete_forever</mat-icon></button>
          </div>
        }
        <button matMiniFab (click)="addOption(null)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <b>Dodatne smernice (hints):</b>
      <div formArrayName="hints" class="flex-col">
        @for (hintForm of hints.controls; track $index; let i = $index) {
          <div [formGroup]="asFormGroup(hintForm)" class="flex-row">
            <mat-form-field style="flex-grow: 1">
              <mat-label>Tekst smernice</mat-label>
              <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
            <button matIconButton (click)="removeHint(i)"><mat-icon>delete_forever</mat-icon></button>
          </div>
        }
      </div>
      <button matMiniFab (click)="addHint('')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
}
