<br>
<h2 id="courseName">{{course.name}}</h2>
<markdown>{{course.description}}</markdown>
<div fxLayout="row wrap">
  <mat-card class="card" style="margin: 10px;" *ngFor="let unit of course.units"
            fxFlex="30"
            fxFlex.md="45"
            fxFlex.sm="100"
            fxFlex.xs="100"
            [routerLink]="'/course/' + course.id + '/learner-progress/' + unit.id">
    <mat-card-header>
      <mat-icon mat-card-avatar>book</mat-icon>
      <mat-card-title style="text-align: left;">{{unit.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <markdown>{{unit.description}}</markdown>
      </p>
    </mat-card-content>
  </mat-card>
</div>
