<button color="primary" id="course" mat-flat-button [matMenuTriggerFor]="course">
  {{ selectedCourse ? selectedCourse.name : 'Odaberi kurs'}}
</button>
<mat-menu #course="matMenu">
  <button [routerLink]="['courses', course.id]" *ngFor="let course of courses" mat-menu-item>
    {{course.name}}
  </button>
</mat-menu>
<button color="primary" id="kc-statistics" mat-flat-button [routerLink]="['analytics', 'kc-statistics']">
  Pregled veština
</button>
<button color="primary" id="events" mat-flat-button [routerLink]="['analytics', 'events']">
  Pregled svih događaja
</button>
