:host {
  display: block;
}

button {
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 160%;
}

.controls {
  margin-top: 20px;
  font-size: 12px;
  width: 85%;
  margin-left: 7.5%;
  white-space: normal;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.selected {
  // hard coded -> should use cc-primary-theme (consult Nikola)
  background-color: #006d62 !important;
  // background-color: #354457 !important; black theme
}
