<div>
    <div fxFlex="30" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign=" center" class="padding" fxLayoutGap="5px"
            [class.highlight]="mode === 'task'">
            <b fxFlex>{{task?.name}}</b>
            <button mat-icon-button (click)="openTask()"
                [class.mat-flat-button]="mode==='task'"
                [color]="mode === 'task' ? 'primary' : ''">
                <mat-icon matTooltip="Opis zadatka">edit</mat-icon>
            </button>
            <button mat-icon-button color="" [routerLink]="['/authoring/course', courseId]" [queryParams]="{unit: task?.unitId, mode: 'lt'}">
                <mat-icon matTooltip="Pregled zadataka">rebase_edit</mat-icon>
            </button>
        </div>
        <div fxLayout="row" class="padding" fxLayoutAlign=" center" [class.highlight]="selectedStep?.name === ''">
            <b fxFlex>Koraci</b>
            <button mat-icon-button (click)="addStep()"
                [class.mat-flat-button]="selectedStep?.name === ''"
                [color]="selectedStep?.name === '' ? 'primary' : ''">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
            <div *cdkVirtualFor="let step of task?.steps; index as i">
                <div [class.highlight]="selectedStep?.id===step.id" class="padding">
                    <span>{{i+1}}. {{step.code}}: {{step.name}}</span>
                    <div fxLayout="row">
                    <button mat-icon-button (click)="showStep(step, true)"
                        [class.mat-flat-button]="selectedStep?.id===step.id && mode==='guidance'"
                        [color]="selectedStep?.id===step.id && mode==='guidance' ? 'primary' : ''">
                        <mat-icon matTooltip="Smernice i ocenjivanje" [matTooltipPosition]="'above'">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="showStep(step, false)"
                        [class.mat-flat-button]="selectedStep?.id===step.id && mode==='subactivities'"
                        [color]="selectedStep?.id===step.id && mode==='subactivities' ? 'primary' : ''">
                        <mat-icon matTooltip="Podaktivnosti" [matTooltipPosition]="'above'">account_tree</mat-icon>
                    </button>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="deleteStep(step.id)">
                        <mat-icon matTooltip="Obriši" [matTooltipPosition]="'above'">delete</mat-icon>
                    </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div fxFlex="70" class="padding">
        <div *ngIf="mode === 'task'">TODO</div>
        <cc-activity-details *ngIf="mode === 'guidance'" [activity]="selectedStep" (activitySaved)="createOrUpdateStep($event)"></cc-activity-details>
        <cc-activities *ngIf="mode === 'subactivities'"></cc-activities>
    </div>
</div>