<div fxLayout="row" style="height: 100vh;">
    <div fxFlex="20" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign=" center" class="step-row">
            <b fxFlex>Korpa za podršku kupovina tura</b>
            <button *ngIf="!editMode" mat-icon-button (click)="editMode = true">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div fxLayout="row" class="step-row" fxLayoutAlign=" center">
            <span fxFlex>Koraci</span>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
            <div *cdkVirtualFor="let step of task?.steps">
                <div [class.highlight]="selectedStep?.id===step.id" class="step-row">
                    <span>{{step.order}}. {{step.activityName}}</span>
                    <div fxLayout="row">
                    <button mat-icon-button mat-flat-button color="primary">
                        <mat-icon matTooltip="Aktivnost" [matTooltipPosition]="'above'">assignment</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon matTooltip="Rezultati i standardi" [matTooltipPosition]="'above'">grade</mat-icon>
                    </button>
                    <span fxFlex></span>
                    <button mat-icon-button>
                        <mat-icon matTooltip="Obriši" [matTooltipPosition]="'above'">delete</mat-icon>
                    </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <mat-card fxFlex>
        <cc-activities></cc-activities>
    </mat-card>
</div>