<div fxLayout="row" style="height: 100vh;">
    <div fxFlex="25" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign=" center" class="step-row" fxLayoutGap="5px"
            [class.highlight]="editMode">
            <b fxFlex>{{task.name}}</b>
            <button mat-mini-fab [color]="editMode ? 'primary' : ''">
                <mat-icon matTooltip="Opis zadatka">edit</mat-icon>
            </button>
            <button mat-mini-fab color="" [routerLink]="['/authoring/course', courseId]" [queryParams]="{unit: task.unitId, mode: 'lt'}">
                <mat-icon matTooltip="Pregled zadataka">rebase_edit</mat-icon>
            </button>
        </div>
        <div fxLayout="row" class="step-row" fxLayoutAlign=" center" [class.highlight]="">
            <b fxFlex>Koraci</b>
            <button mat-icon-button (click)="addStep()"
                [class.mat-flat-button]="selectedStep?.activityName === ''"
                [color]="selectedStep?.activityName === '' ? 'primary' : ''">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
            <div *cdkVirtualFor="let step of task?.steps">
                <div [class.highlight]="selectedStep?.id===step.id" class="step-row">
                    <span>{{step.order}}. {{step.activityName}}</span>
                    <div fxLayout="row">
                    <button mat-icon-button (click)="showStep(step.id, true)"
                        [class.mat-flat-button]="selectedStep?.id===step.id && guidance"
                        [color]="selectedStep?.id===step.id && guidance ? 'primary' : ''">
                        <mat-icon matTooltip="Smernice i primeri" [matTooltipPosition]="'above'">assignment</mat-icon>
                    </button>
                    <button mat-icon-button (click)="showStep(step.id, false)"
                        [class.mat-flat-button]="selectedStep?.id===step.id && !guidance"
                        [color]="selectedStep?.id===step.id && !guidance ? 'primary' : ''">
                        <mat-icon matTooltip="Rezultati i standardi" [matTooltipPosition]="'above'">grade</mat-icon>
                    </button>
                    <span fxFlex></span>
                    <button mat-icon-button (click)="deleteStep(step.id)">
                        <mat-icon matTooltip="Obriši" [matTooltipPosition]="'above'">delete</mat-icon>
                    </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <mat-card fxFlex>
        <cc-activities></cc-activities>
    </mat-card>
</div>