<div class="flex-col gap" style="padding: 20px">
    <small style="height: 45px;"><b>Premeštanje zadatka</b>: {{taskName}}</small>
    <form [formGroup]="formGroup" class="flex-col">
        <mat-form-field appearance="fill">
            <mat-label>Lekcija u koju se premešta</mat-label>
            <input type="text" placeholder="Odaberi ili pretraži" matInput formControlName="units" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let unit of filteredUnits | async" [value]="present(unit)">
                {{present(unit)}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="flex-row gap">
            <button mat-raised-button color="primary" [disabled]="formGroup.invalid || !findUnitId()" (click)="onSubmit()">Sačuvaj</button>
            <button mat-raised-button (click)="onClose()">Zatvori</button>
        </div>
    </form>
</div>