<div fxLayout="row" style="height: 100%;">
  <div width="224px">
    <mat-form-field appearance="fill" style="padding: 10px; margin-bottom: -1.25em">
      <mat-label>Grupa</mat-label>
      <mat-select [(value)]="selectedGroupId" (selectionChange)="getLearners()">
          <mat-option *ngFor="let group of groups" [value]="group.id">
            {{group.name}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
        <div *cdkVirtualFor="let learner of learners">
            <div [class.highlight]="selectedLearner?.id===learner.id" style="padding: 10px; cursor: pointer;" (click)="selectedLearner = learner">
                <small style="font-size: 12px;">{{learner.index}}</small><br>
                <span>{{learner.name}} {{learner.surname}}</span>
            </div>
            <mat-divider></mat-divider>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div fxFlex style="overflow-y: auto;">
      <div *ngIf="learners?.length > 0 && mode === 'enrollments'">
        <cc-enrollments [units]="units" [learners]="learners"></cc-enrollments>
      </div>
      <div *ngIf="selectedLearner && mode === 'grading'">
        <cc-grading></cc-grading>
      </div>
      <div *ngIf="selectedLearner && mode === 'progress'">
        <cc-progress></cc-progress>
      </div>
  </div>
</div>
