<div class="flex-row" style="height: 100%;">
  <div style="width: 200px;">
    <div style="height: 58px; padding: 10px" *ngIf="mode === 'enrollments'"><small>Izaberi grupu studenata da im otključiš pristup lekcijama.</small></div>
    <mat-form-field appearance="fill" style="padding: 10px; margin-bottom: -1.25em; width: 182px" *ngIf="mode !== 'enrollments'">
      <mat-label>Dan pred sink</mat-label>
      <input matInput [matDatepicker]="picker" [value]="selectedDate" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding: 10px; margin-bottom: -1.25em; width: 182px">
      <mat-label>Grupa</mat-label>
      <mat-select [(value)]="selectedGroupId" (selectionChange)="getLearners()">
          <mat-option *ngFor="let group of groups" [value]="group.id">
            {{group.name}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
        <div *cdkVirtualFor="let learner of learners">
            <div [class.theme-highlight-primary]="selectedLearner?.id===learner.id"
              class="theme-hover flex-row"
              style="padding: 10px; cursor: pointer;" (click)="selectedLearner = learner">
              <div style="flex-grow: 1;">
                <small style="font-size: 12px;">{{learner.index}}</small><br>
                <span>{{learner.name}} {{learner.surname}}</span>
              </div>
              <div *ngIf="mode === 'grading'" class="theme-warn">
                <span *ngIf="learner.completedTaskCount" matTooltip="Broj urađenih i neocenjenih zadataka">{{learner.completedTaskCount}}</span><br>
                <small *ngIf="learner.completedStepCount" matTooltip="Broj urađenih i neocenjenih koraka">{{learner.completedStepCount}}</small>
              </div>
              <div *ngIf="mode === 'progress'">
                <mat-icon *ngIf="learner.semaphore" [matTooltip]="learner.semaphoreJustification" [color]="learner.semaphore == 1 ? 'warn' : learner.semaphore == 2 ? 'accent' : 'primary'">circle</mat-icon>
                <mat-icon *ngIf="!learner.semaphore" matTooltip="Nema povratne informacije o studentu za nedelju">radio_button_off</mat-icon>
              </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <mat-divider vertical="true" style="border-width: 3px;"></mat-divider>
  <div style="overflow-y: auto; flex-grow: 1;">
      <div *ngIf="learners?.length > 0 && mode === 'enrollments'">
        <cc-enrollments [courseId]="courseId" [learners]="learners"></cc-enrollments>
      </div>
      <div *ngIf="selectedLearner && mode === 'grading'">
        <cc-grading [courseId]="courseId" [selectedLearnerId]="selectedLearner.id" [learners]="learners" (learnerChanged)="changeLearner($event)" (gradesChanged)="getTaskSummaries($event)" [selectedDate]="selectedDate"></cc-grading>
      </div>
      <div *ngIf="selectedLearner && mode === 'progress'">
        <cc-weekly-progress [courseId]="courseId" [selectedLearnerId]="selectedLearner.id" [learners]="learners" (learnerChanged)="changeLearner($event)" [selectedDate]="selectedDate"></cc-weekly-progress>
      </div>
  </div>
</div>
