<div class="right-margin">
  <mat-card fxLayout="row" fxLayoutAlign="space-between"
    class="mat-elevation-z5 margin sticky">
    <div fxLayoutGap="20px">
      <mat-form-field appearance="fill">
          <mat-label>Lekcije</mat-label>
          <mat-select [(value)]="unitId">
              <mat-option *ngFor="let unit of units" [value]="unit.id">
                {{unit.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Grupa</mat-label>
          <mat-select [(value)]="groupId" (selectionChange)="getLearnerProgress()">
              <mat-option value="0">Sve</mat-option>
              <mat-option *ngFor="let group of groups" [value]="group.id">
                {{group.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <mat-paginator (page)="changePage($event)" [length]="count"
                   [pageSizeOptions]="[16, 32, 48]" [pageSize]="pageSize">
    </mat-paginator>
  </mat-card>
      
  <mat-progress-bar class="progress-bar" mode="indeterminate" 
    *ngIf="progress.length === 0">
  </mat-progress-bar>

  <div fxLayout="row wrap">
    <cc-learner-progress
      fxFlex="50"
      *ngFor="let learnerProgress of progress"
      [unitId]="unitId"
      [course]="course"
      [learnerProgress]="learnerProgress">
    </cc-learner-progress>
  </div>
</div>
