.margin {
  margin: 10px;
}

.right-margin {
  margin-right: 50px;
}

.sticky {
  position: sticky;
  top:0;
  z-index: 5;
}

.mat-accordion {
  width: 100%;
}

mat-card-title {
  font-size: 20px;
}

#group {
  margin-left: 20px;
}

.progress {
  margin-left: 70px;
}
