<mat-card appearance="outlined">
<mat-card-content>
    <markdown lineNumbers>{{learningObject.text}}</markdown>
    <mat-radio-group [(ngModel)]="checked" class="flex-col" style="gap: 5px">
        <mat-radio-button *ngFor="let item of learningObject.possibleAnswers"
            [value]="item" style="text-align: left" [disabled]="evaluation ? true : false"
            [class]="evaluation ? checkItemCorrectness(item) : ''">
            {{item}}
        </mat-radio-button>
    </mat-radio-group>
    <br>
    <div [class]="evaluation.correctnessLevel ? 'color-correct' : 'color-wrong'" *ngIf="evaluation?.correctAnswer">
        <b>Tačan odgovor</b>: {{evaluation.correctAnswer}}<br><br>
        {{evaluation.feedback}}
    </div>
    <button [disabled]="!checked || submissionIsProcessing" *ngIf="!evaluation" mat-raised-button color="primary" (click)="onSubmit()" i18n="@@submit">Pošalji</button>
</mat-card-content>
</mat-card>