<div fxLayout="column">
    <div style="margin: 10px;">
        <button mat-mini-fab color="primary" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
        <span>&nbsp;&nbsp;Dodaj novi zadatak koji razvija veštinu polaznika.</span>
    </div>

    <div *ngFor="let learningTask of learningTasks">
        <cc-learning-task-tree [learningTask]="learningTask" (learningTaskUpdated)="update($event)"
            (learningTaskDeleted)="delete($event)"></cc-learning-task-tree>
    </div>
</div>