<div class="flex-col gap" *ngIf="user.role !== 'administrator'">
    <h1 class="mat-h1">Katalog modula</h1>
    <cc-course-card
        *ngFor="let course of courses"
        [course]="course"
        [user]="user">
    </cc-course-card>
</div>
<div class="flex-col" *ngIf="user.role === 'administrator'" style="text-align: left; gap: 20px">
    <mat-card appearance="outlined" style="height: 100%;" class="theme-hover" routerLink="/monitoring/overview">
        <mat-card-header>
            <mat-card-title>
                <mat-icon style="margin: 4px 4px 0 0; min-width: 24px;">troubleshooting</mat-icon>
                <span>Pregled napretka studenata</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Ističe kako se studenti na aktivnim modulima (koji su počeli i nisu arhivirani) snalaze. Nudi pregled rezultata za prethodne tri nedelje, koji za svaku nedelju ističu:</p>
            <mat-icon>traffic</mat-icon> Mišljenje mentora o napretku<br>
            <mat-icon>record_voice_over</mat-icon> Mišljenje studenta o napretku<br>
            <mat-icon>checklist_rtl</mat-icon> % osvojenih poena na zadacima
        </mat-card-content>
    </mat-card>
    <div class="flex-row" style="align-items: stretch; gap: 20px">
        <mat-card appearance="outlined" class="theme-hover" style="flex: 1 1 0;" routerLink="/management/courses">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon style="margin: 4px 4px 0 0; min-width: 24px;">collections_bookmark</mat-icon>
                    <span>Upravljanje modulima</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Kontrole za kreiranje, kloniranje i arhiviranje modula, kao i za kreiranje grupa i uvezivanje mentora i studenata.</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined" class="theme-hover" style="flex: 1 1 0;" routerLink="/management/stakeholders/learners">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon style="margin: 4px 4px 0 0; min-width: 24px;">group</mat-icon>
                    <span>Upravljanje studentima</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Kontrole za kreiranje i uklanjanje naloga za studente.</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined" class="theme-hover" style="flex: 1 1 0;" routerLink="/management/stakeholders/instructors">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon style="margin: 4px 4px 0 0; min-width: 24px;">school</mat-icon>
                    <span>Upravljanje mentorima</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Kontrole za kreiranje i uklanjanje naloga za mentore.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>