<div fxLayout="column" *ngIf="!checkView">
    <h3>Uvezivanje više učenika <mat-icon [matTooltipPosition]="'above'" matTooltip="Jedno korisničko ime po redu." class="small-icon">help_outline</mat-icon></h3>
    <form fxLayout="column" fxFlex [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <textarea fxFlex matInput style="height: 380px;" formControlName="learners" autocomplete="off" placeholder="Jedno korisničko ime po redu"></textarea>
        </mat-form-field>
        <div fxFlex="column" fxLayoutGap="20px">
          <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="onCheck()" fxFlex>Proveri</button>
          <button mat-raised-button (click)="onClose()" fxFlex>Zatvori</button>
        </div>
    </form>
</div>
<div *ngIf="checkView" fxLayout="column" fxLayoutGap="10px">
  <h3>Provera uvezanih učenika</h3>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" fxFlex *ngIf="learners.length > 0">
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Korisničko ime </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="missingEntries.length > 0">
    <h3>Učenici koji nisu pronađeni</h3>
    <div *ngFor="let e of missingEntries">{{e}}</div>
  </div>
  <div fxFlex="row" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="onSubmit()" fxFlex>Sačuvaj</button>
    <button mat-raised-button (click)="onBack()" fxFlex>Nazad</button>
    <button mat-raised-button (click)="onClose()" fxFlex>Zatvori</button>
  </div>
</div>