<div mat-card style="margin: 3% 10% 1.5% 10%">
  <br>
  <button mat-flat-button color="primary" style="width: 100%;margin: 1% auto 1.5% auto" [routerLink]="'/teacher/subscribe'">
    Subscribe
  </button>
  <br>
  <button mat-flat-button color="primary" style="width: 100%;margin: 1% auto 1.5% auto" [routerLink]="'/teacher/courses'">
    Create course
  </button>
  <br>
  <button mat-flat-button color="primary" style="width: 100%;margin: 1% auto 1.5% auto" [routerLink]="'/teacher/lectures'">
    Create lecture
  </button>
</div>
