.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidenav {
  height: 100vh;
  flex: 0 0 85px;
  overflow: hidden;
}

#router-outlet {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}