.container {
  height: 100vh;
}

mat-sidenav {
  width: 200px;
  background-color: #031e43;
}

mat-sidenav-content {
  background-color: #141414;
  color: white;
}

#router-outlet {
  overflow-y: auto;
  background-color: #141414;
  color: white;
}

mat-toolbar {
  z-index: 2;
}
