<mat-sidenav-container class="container mat-app-background"
                       [ngClass]="isDarkTheme? 'dark-theme-mode' : 'light-theme-mode'">
  <mat-sidenav class="container" mode="side" [(opened)]="opened">
    <div class="sidenav-items-wrapper">
      <cc-navbar [isDarkTheme]="isDarkTheme"></cc-navbar>
    </div>
    <mat-slide-toggle color="primary" (change)="changeTheme()" [(ngModel)]="isDarkTheme">
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <div id="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
