<mat-sidenav-container class="container mat-app-background"
                       [ngClass]="isDarkTheme? 'dark-theme-mode' : 'light-theme-mode'">
  <mat-sidenav class="container mat-elevation-z4" mode="side" [(opened)]="opened" [ngStyle]="isDarkTheme && {'background-color': '#021634'}">
    <div>
      <cc-navbar [isDarkTheme]="isDarkTheme"></cc-navbar>
    </div>
    <div class="theme-ctrl">
      <button mat-mini-fab color="primary" (click)="changeTheme()">
        <mat-icon *ngIf="!isDarkTheme" i18n-matTooltip matTooltip="Tamna tema.">bedtime</mat-icon>
        <mat-icon *ngIf="isDarkTheme" i18n-matTooltip matTooltip="Svetla tema.">light_mode</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <div id="router-outlet" style="height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<link *ngIf="!isDarkTheme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link *ngIf="isDarkTheme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.min.css" integrity="sha512-5HvW0a7ihK3ro2KhwEksDHXgIezsTeZybZDIn8d8Y015Ny+t7QWSIjnlCTjFzlK7Klb604HLGjsNqU/i5mJLjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />