.container {
  height: 100vh;
}

mat-sidenav {
  width: 120px;
}

#router-outlet {
  overflow-y: auto;
}

mat-toolbar {
  z-index: 2;
}

mat-icon {
  vertical-align: middle;
}

mat-slide-toggle {
  width: 85%;
  margin-left: 7.5%;
}

.fixed {
  position: fixed;
  top: 23px;
  right: 30px;
  float: right;
}
