<mat-card appearance="outlined">
<mat-card-content>
  <markdown lineNumbers clipboard [clipboardButtonComponent]="clipboard">{{learningObject.text}}</markdown>
  <div>
    <ul style="padding-left: 5px;">
      <mat-list-item *ngFor="let answer of learningObject.items; let i = index">
        <mat-checkbox [disabled]="evaluation ? true : false" [(ngModel)]="checked[i]" style="text-align: left">
          {{answer.text}}
        </mat-checkbox>
        <br>
        <div
          [class]="getAnswerResult(answer.text).submissionWasCorrect ? 'color-correct' : 'color-wrong'"
          class="mat-card-subtitle"
          *ngIf="evaluation?.itemEvaluations">
          {{getAnswerResult(answer.text).feedback}}
        </div>
      </mat-list-item>
    </ul>
    <button [disabled]="submissionIsProcessing" *ngIf="!evaluation" mat-raised-button color="primary" (click)="onSubmit()">Pošalji</button>
  </div>
</mat-card-content>
</mat-card>