.color-correct {
  color: #3CA0FF
}

.color-wrong {
  color: #FF3C47
}

mat-icon {
  margin-right: 1em;
  font-size: 2em;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
  margin-top: 1em;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
:host::ng-deep.mat-checkbox-inner-container{
  margin-top: 4px;
}
