<div id="question">
  <markdown lineNumbers>{{learningObject.text}}</markdown>
  <div>
    <ul>
      <mat-list-item *ngFor="let answer of learningObject.items; let i = index">
        <mat-checkbox [disabled]="evaluation ? true : false" [(ngModel)]="checked[i]" style="text-align: left">
          {{answer.text}}
        </mat-checkbox>
        <br>
        <div
          [class]="getAnswerResult(answer.id).submissionWasCorrect ? 'color-correct' : 'color-wrong'"
          class="mat-card-subtitle"
          *ngIf="evaluation"
        >
          {{getAnswerResult(answer.id).feedback}}
        </div>
      </mat-list-item>
    </ul>
    <button *ngIf="!evaluation" mat-raised-button color="primary" (click)="onSubmit()" i18n="@@submit">Pošalji</button>
  </div>
</div>
