<mat-card appearance="outlined">
<mat-card-content>
  <markdown lineNumbers clipboard [clipboardButtonComponent]="clipboard">{{learningObject.text}}</markdown>
  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Primer odgovora: PrvaReč, DrugaReč</mat-label>
      <input autocomplete="off" matInput type="text" name="index" [(ngModel)]="answer">
    </mat-form-field>
    <div *ngIf="!evaluation">
      <button [disabled]="submissionIsProcessing || !answer" (click)="onSubmit()" color="primary" type="submit" mat-raised-button>Pošalji</button>
    </div>
    <div *ngIf="evaluation?.acceptableAnswers" [class]="evaluation.correctnessLevel ? 'color-correct' : 'color-wrong'">
      Prihvatljivi odgovori:
      <ul>
        <li *ngFor="let answer of evaluation.acceptableAnswers">{{answer}}</li>
      </ul>
      {{evaluation.feedback}}
    </div>
  </div>
</mat-card-content>
</mat-card>