<mat-card>
<div>
  <markdown lineNumbers>{{learningObject.text}}</markdown>
  <div>
    <mat-form-field fxFlexFill>
      <mat-label i18n>Primer odgovora: PrvaReč, DrugaReč</mat-label>
      <input autocomplete="off" matInput type="text" name="index" [(ngModel)]="answer">
    </mat-form-field>
    <div *ngIf="!evaluation">
      <button [disabled]="submissionIsProcessing" (click)="onSubmit()" color="primary" type="submit" mat-raised-button i18n="@@submit">Pošalji</button>
    </div>
    <div *ngIf="evaluation?.acceptableAnswers" [class]="evaluation.correctnessLevel ? 'color-correct' : 'color-wrong'">
      Prihvatljivi odgovori:
      <ul>
        <li *ngFor="let answer of evaluation.acceptableAnswers">{{answer}}</li>
      </ul>
      {{evaluation.feedback}}
    </div>
  </div>
</div>
</mat-card>