<div class="flex-row" style="height: 100vh;">
    <div class="flex-col" style="height: 100vh; width: 60%;">
        <small *ngIf="!units?.length" style="padding: 10px;">
            Student nije imao nove lekcije u protekloj nedelji.
        </small>
        <div class="flex-col gap tutor-panel" *ngIf="units?.length">
            <mat-card appearance="outlined" style="margin: 10px 0 20px 0;">
                <div class="theme-highlight-primary">
                    <h2 class="mat-h2 flex-row gap" style="margin: 0px; align-items: center; padding: 5px;">
                        <mat-icon>bar_chart</mat-icon>
                        Sumarni utisak za nedelju
                    </h2>
                </div>
                <div style="padding: 10px;" class="flex-col gap">
                    <b><mat-icon>record_voice_over</mat-icon> Prosečno zadovoljstvo napretkom</b>
                    <ul *ngIf="weeklyRatings">
                        <li *ngIf="weeklyRatings.learnerSatisfactionCount">
                            <span [ngClass]="{ 'theme-warn': weeklyRatings.avgLearnerSatisfaction < 2, 'theme-accent': weeklyRatings.avgLearnerSatisfaction >= 2 && weeklyRatings.avgLearnerSatisfaction < 2.6}">
                                <b>Student: {{weeklyRatings.avgLearnerSatisfaction}} / 4 ({{weeklyRatings.learnerSatisfactionCount}} ocena)</b>;
                            </span>
                            <span>
                                Grupa: {{weeklyRatings.avgGroupSatisfaction}} / 4 ({{weeklyRatings.groupSatisfactionCount}} ocena);
                            </span>
                            <span>
                                Svi: {{weeklyRatings.avgTotalSatisfaction}} / 4 ({{weeklyRatings.totalSatisfactionCount}} ocena)
                            </span>
                        </li>
                        <li *ngIf="weeklyRatings.comments?.length">
                            Napisao {{weeklyRatings.comments.length}} komentara
                            <small>
                            <ul>
                            <li *ngFor="let c of weeklyRatings.comments">{{c}}</li>
                            </ul>
                            </small>
                        </li>
                    </ul>
                    <b><mat-icon>checklist_rtl</mat-icon>Postignuti rezultati</b>
                    <ul *ngIf="weeklyResults">
                        <li *ngIf="weeklyResults.totalKcCount"
                            [ngClass]="{ 'theme-warn': weeklyResults.totalKcCount - weeklyResults.learnerSatisfiedKcCount > 0}">
                            {{weeklyResults.learnerSatisfiedKcCount}} / {{weeklyResults.totalKcCount}} savladanih komponenti znanja
                        </li>
                        <li *ngIf="weeklyResults.totalTaskCount">
                            {{weeklyResults.learnerGradedTaskCount}} / {{weeklyResults.totalTaskCount}} ocenjenih zadataka
                        </li>
                        <li *ngIf="weeklyResults.totalMaxPoints"
                            [ngClass]="{ 'theme-warn': weeklyResults.percentPoints < 34, 'theme-accent': weeklyResults.percentPoints >= 34 && weeklyResults.percentPoints < 67}">
                            <b>{{weeklyResults.percentPoints}}% osvojenih poena (prosek grupe {{(100*weeklyResults.avgGroupPoints / weeklyResults.totalMaxPoints).toFixed(0)}}%)</b>
                        </li>
                    </ul>
                    <div *ngIf="weeklyResults?.negativePatterns?.length">
                        <b><mat-icon color="warn">warning</mat-icon> Sumirani negativni šabloni interakcije</b>
                        <ul>
                            <li *ngFor="let p of weeklyResults.negativePatterns"><b>{{p.count}}x</b> {{p.name}}</li>
                        </ul>
                    </div>
                </div>
            </mat-card>
            <mat-card appearance="outlined" *ngFor="let unit of units">
                <div class="theme-highlight-primary flex-col" style="padding: 5px;">
                    <h2 class="mat-h2 flex-row gap" style="margin: 0px; align-items: center;">
                        <mat-icon>article</mat-icon>
                        <span>{{unit.name}}</span>
                    </h2>
                    <small class="flex-row gap">
                        <span *ngIf="unit.kcStatistics">Rešeno znanje: {{unit.kcStatistics.satisfiedCount}}/{{unit.kcStatistics.totalCount}}</span>
                        <span *ngIf="unit.taskStatistics">Ocenjeni zadaci: {{unit.taskStatistics.gradedCount}}/{{unit.taskStatistics.totalCount}}</span>
                        <span *ngIf="unit.taskStatistics">Osvojeni poeni: {{unit.taskStatistics.learnerPoints}}/{{unit.taskStatistics.totalMaxPoints}} (Prosek grupe: {{unit.taskStatistics.avgGroupPoints}}/{{unit.taskStatistics.totalMaxPoints}})</span>
                        <span style="flex-grow: 1;"></span>
                        <span>Najbolje do: {{unit.bestBefore | date:'dd.MM.yyyy.'}}</span>
                    </small>
                </div>
                <div class="flex-col gap" style="padding: 10px">
                    <div *ngFor="let i of unit.timelineItems; index as ix">
                        <div *ngIf="i.type === 'kc'" class="flex-col gap">
                            <div class="flex-row">
                                <h3 class="mat-h3">
                                    <mat-icon matTooltip="Komponenta znanja">account_tree</mat-icon> {{i.item.order}}. {{i.item.name}}
                                </h3>
                                <span style="flex-grow: 1;"></span>
                                <small>Rešeno: {{i.time | date:'dd.MM. u HH:mm'}}</small>
                            </div>
                            <div *ngIf="i.item.statistics.negativePatterns?.length">
                                <b><mat-icon>warning</mat-icon> Negativni šabloni interakcije</b>
                                <ul>
                                    <li *ngFor="let p of i.item.statistics.negativePatterns">{{p}}</li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="i.type === 'task'" class="flex-col gap">
                            <div class="flex-row">
                                <h3 class="mat-h3">
                                    <mat-icon matTooltip="Zadatak">rebase_edit</mat-icon> {{i.item.order}} {{i.item.name}}
                                </h3>
                                <span style="flex-grow: 1;"></span>
                                <small>Rešeno: {{i.time | date:'dd.MM. u HH:mm'}}</small>
                            </div>
                            <div>
                                <mat-icon>checklist_rtl</mat-icon> Osvojeno {{i.item.statistics.wonPoints}} / {{i.item.maxPoints}} poena
                            </div>
                            <div *ngIf="i.item.statistics.negativePatterns?.length">
                                <b><mat-icon>warning</mat-icon> Negativni šabloni interakcije</b>
                                <ul>
                                    <li *ngFor="let p of i.item.statistics.negativePatterns">{{p}}</li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="i.type === 'rating'" class="flex-col gap">
                            <div class="flex-row">
                                <h3 class="mat-h3">
                                    <mat-icon matTooltip="Zadatak">record_voice_over</mat-icon> Povratna informacija
                                </h3>
                                <span style="flex-grow: 1;"></span>
                                <small>Kreirano: {{i.time | date:'dd.MM. u HH:mm'}}</small>
                            </div>
                            <div *ngIf="i.item.feedback.learnerProgress">
                                Ističe {{i.item.feedback.learnerProgress}} / 4 zadovoljstvo svojim napretkom. 
                            </div>
                            <div *ngIf="i.item.completedKcNames?.length">
                                Za komponente znanja:
                                <ul>
                                    <li *ngFor="let name of i.item.completedKcNames">{{name}}</li>
                                </ul>
                                Ističe {{i.item.feedback.instructionClarity}} / 4 jasnoću gradiva i {{i.item.feedback.assessmentClarity}} / 4 jasnoću pitanja. 
                            </div>
                            <div *ngIf="i.item.completedTaskNames?.length">
                                Za zadatke:
                                <ul>
                                    <li *ngFor="let name of i.item.completedTaskNames">{{name}}</li>
                                </ul>
                                Ističe da su zadaci: {{i.item.feedback.taskChallenge}}. 
                            </div>
                            <div *ngIf="i.item.feedback?.comments?.length">
                                Dodatni komentari:
                                <small><ul>
                                    <li *ngFor="let comment of i.item.feedback.comments">{{comment}}</li>
                                </ul></small>
                            </div>
                        </div>
                        <mat-divider style="border-width: 2px; margin: 0 -10px;" *ngIf="ix !== (unit.timelineItems.length - 1)"></mat-divider>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <mat-divider vertical="true" style="border-width: 2px;"></mat-divider>
    <div class="flex-col mentor-panel">
        <cc-weekly-feedback [courseId]="courseId" [learnerId]="selectedLearnerId" [selectedDate]="selectedDate"
            [rating]="weeklyRatings" [results]="weeklyResults"></cc-weekly-feedback>
        <div class="flex-row gap" style="height: 48px; justify-content: flex-end; align-items: center;">
            <button mat-icon-button (click)="changeLearner(-1)">
                <span><mat-icon>arrow_back_ios_new</mat-icon></span>
            </button>
            <mat-icon matTooltip="Student">person</mat-icon>
            <button mat-icon-button (click)="changeLearner(1)">
                <span><mat-icon>arrow_forward_ios_new</mat-icon></span>
            </button>
        </div>
    </div>
</div>