.tutor-panel {
    height: calc(100% - 10px);
    padding: 0 10px 10px 10px;
    overflow-y: auto;
}

.mentor-panel {
    height: calc(100% - 20px);
    width: 40%;
    padding: 10px;
    overflow-y: auto;
}