button {
  padding: 5px;
}

.small-text {
  font-size: 10px;
  text-align: center;
}

.small-icon {
  font-size: 16px;
}

.accent-text {
  font-size: 20px;
  text-align: center;
}

.accent-icon {
  margin-top: 4px;
  font-size: 20px;
}

.sticky {
  position: fixed;
  bottom: 0px;
  left: 85px;
  width: calc(100% - 91px);
  max-width: inherit;
  z-index: 5;
}

.feedback-container {
  height: 100px;
  margin-right: 20px;
  padding-right: 5px;
  font-size: 16px;
  text-align: left;

  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.feedback-container > pre:last-child {
  scroll-snap-align: end;
}
