.panel {
  margin: 0 auto;
  padding: 10px 10px 5px 10px;

  display: flex;
  flex-direction: column;
  width: calc(100vw - 130px);
  max-width: 680px;
  height: 158px;

  transition: height 1s ease-in-out;
}

.expand {
  height: 280px;
}

@media (min-width: 810px) {
  .panel {
    width: 680px;
  }
}

pre {
  font-size: 16px;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 600px) {
  .controls {
    flex-direction: row;
  }
}

button {
  padding: 5px;
}

.small-text {
  font-size: 10px;
  text-align: center;
}

.small-icon {
  font-size: 16px !important;
}

.accent-text {
  font-size: 20px;
  text-align: center;
}

.accent-icon {
  font-size: 20px;
}

.feedback-container {
  flex-grow: 1;
  padding-right: 5px;
  text-align: left;

  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.feedback-container > pre:last-child {
  scroll-snap-align: end;
}
