.small-text {
  font-size: 12px;
  text-align: center;
}

.small-icon {
  font-size: 16px;
}

.accent-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.accent-icon {
  font-size: 22px;
}

.sticky {
  position: fixed;
  bottom: 20px;
  width: calc(90% - 119px);
  max-width: inherit;
  z-index: 5;
}

.feedback-container {
  height: 154px;
  margin-right: 20px;
  padding-right: 5px;
  font-size: 16px;
  text-align: left;

  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.feedback-container > pre:last-child {
  scroll-snap-align: end;
}

#ie-button, #ae-button {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}
