<ng-template #tmplNode let-node="node">
    <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-'+node.id">
      
      <div class="node-title" (click)="node.isExpanded=!node.isExpanded">
        {{node.children.length ? (node.isExpanded?'-&nbsp;':'+') : '&nbsp;&nbsp;&nbsp;'}} &nbsp;&nbsp;&nbsp; {{node.id}} <span class="item-notes"> ({{node.children.length}}{{node.children.length?', expanded: ' + !!node.isExpanded:''}})</span>
      </div>
  
      <div *ngIf="node.isExpanded && node.children.length" class="node-children"
           cdkDropList [cdkDropListData]="node.children"
           [id]="node.id" [cdkDropListConnectedTo]="dropTargetIds"
           (cdkDropListDropped)="drop($event)"
           [cdkDropListSortingDisabled]="true">
  
        <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" 
             (cdkDragMoved)="dragMoved($event)">
          <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>  
        </div>
  
      </div>
  
    </div>
  </ng-template>
  
  <div cdkDropList [cdkDropListData]="nodes"
       [id]="'main'" [cdkDropListConnectedTo]="dropTargetIds"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListSortingDisabled]="true">
       
    <div *ngFor="let node of nodes" cdkDrag [cdkDragData]="node.id"      
       (cdkDragMoved)="dragMoved($event)">
  
      <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
  
    </div>
  </div>