<ng-template #tmplNode let-node="node">
  <div class="node-item">
    <div class="node-title" fxLayout="row">
      <span *ngIf="node.children.length">
        <button mat-icon-button (click)="node.isExpanded=!node.isExpanded">
          <mat-icon *ngIf="!node.isExpanded" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" [matTooltipShowDelay]="500"
          matTooltip="Prikaži podveštine">add_circle</mat-icon>
          <mat-icon *ngIf="node.isExpanded" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" [matTooltipShowDelay]="500"
          matTooltip="Sakrij podveštine">remove_circle</mat-icon>
        </button>
      </span>
      <span *ngIf="!node.children.length" style="cursor: default;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <mat-card fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <span fxFlex><b>{{node.code}}</b>: {{node.name}}</span>
          <small>Redni broj: {{node.order}}</small>
        </div>
        <div>
          <span fxLayoutGap="10px">
            <button mat-mini-fab (click)="addKc(node.id)" color="primary">
              <mat-icon matTooltip="Dodaj podveštinu" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" [matTooltipShowDelay]="500">add</mat-icon>
            </button>
            <button mat-mini-fab (click)="editKc(node.id)" color="primary">
              <mat-icon matTooltip="Ažuriraj" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" [matTooltipShowDelay]="500">edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="deleteKc(node.id)" color="warn">
              <mat-icon matTooltip="Obriši" [matTooltipPosition]="'above'" [matTooltipHideDelay]="0" [matTooltipShowDelay]="500">delete</mat-icon>
            </button>
          </span>
        </div>
      </mat-card>
    </div>
  
    <div *ngIf="node.isExpanded && node.children.length" class="node-children">
      <div *ngFor="let child of node.children">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>  
      </div>
    </div>
  </div>
</ng-template>
  
<div>
  <div *ngFor="let node of nodes">
    <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
  </div>
  <div *ngIf="nodes?.length === 0" style="margin: 15px 0 15px 0;">
    <button mat-mini-fab (click)="addKc()" color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <span>&nbsp;Dodaj korensku veštinu koja proverava da li je učenik savladao suštinu lekcije.</span>
  </div>
</div>