<div fxLayout="column" class="editor-container">
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <div fxLayout="row" fxLayoutGap="5px">
      <mat-icon (click)="insertElement('bold')">format_bold</mat-icon>
      <mat-icon (click)="insertElement('italic')">format_italic</mat-icon>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon>title</mat-icon>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon (click)="insertElement('bulleted')">format_list_bulleted</mat-icon>
      <mat-icon (click)="insertElement('numbered')">format_list_numbered</mat-icon>
      <mat-divider vertical="true"></mat-divider>
      <mat-icon (click)="insertElement('code')">code</mat-icon>
    </div>
    <mat-icon (click)="livePreview = !livePreview">
      {{ livePreview ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </div>
  <div *ngIf="mode === 'edit'">
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea #textAreaElement matInput [(ngModel)]="text" (select)="onSelect($event)" (click)="onClick($event)" mat-autosize="true"></textarea>
    </mat-form-field>
  </div>
  <p *ngIf="mode === 'preview' || livePreview" [data]="text" markdown></p>
</div>

