<div fxFlex fxLayout="row" fxLayoutGap="30px">
    <cc-generic-table fxFlex="60"
        [fieldConfiguration]="instructorFields"
        [baseUrl]="baseUrl"
        (select)="onSelect($event)">
    </cc-generic-table>
    <div fxFlex="40" fxLayout="column">
        <mat-tab-group *ngIf="selectedInstructor">
        <mat-tab label="Vlastiti kursevi">
            <cc-plain-generic-table
                [fieldConfiguration]="courseFields"
                [items]="ownedCourses"
                (delete)="removeOwnedCourse($event)">
            </cc-plain-generic-table>
            <span>
            <button mat-mini-fab color="primary" (click)="onAddOwnedCourse()">
                <mat-icon matTooltip="Dodaj" [matTooltipPosition]="'right'" [matTooltipHideDelay]="0">add</mat-icon>
            </button>
            </span>
        </mat-tab>
        <mat-tab label="Grupe">
            TODO: Grupe
        </mat-tab>
        </mat-tab-group>
    </div>
</div>