<div fxFlex fxLayout="row" fxLayoutGap="30px">
    <cc-generic-table
        fxFlex="50"
        [title]="'Instruktori'"
        [fieldConfiguration]="instructorFields"
        [baseUrl]="baseUrl"
        (select)="onSelect($event)">
    </cc-generic-table>
    <div fxFlex="40">
        <mat-card *ngIf="selectedInstructor">
            <h2>Vlastiti kursevi</h2>
            <cc-owned-courses [instructor]="selectedInstructor" [allCourses]="allCourses"></cc-owned-courses>
        </mat-card>
    </div>
</div>