<div>
  <markdown lineNumbers>{{learningObject.text}}</markdown>
  <div>
    <mat-form-field fxFlexFill>
      <mat-label i18n>Primer odgovora: NazivJedan, NazivDva</mat-label>
      <input autocomplete="off" matInput type="text" name="index" [(ngModel)]="answer">
    </mat-form-field>
    <div *ngIf="!response">
      <button (click)="onSubmit()" color="primary" type="submit" mat-raised-button i18n="@@submit">Pošalji</button>
    </div>
    <div id="answer" *ngIf="response">
      <div>
        <mat-icon class="icon" *ngIf="response.correctnessLevel >= 0.95" color="primary">done</mat-icon>
        <mat-icon class="icon" *ngIf="response.correctnessLevel < 0.95" color="accent">close</mat-icon>
      </div>
      <div>
        Prihvatljivi odgovori: {{ response.acceptableAnswers.join("; ") }}
      </div>
    </div>
  </div>
</div>
