<div class="flex-col">
  <button class="navbar-button" matButton routerLink="/supervision/active" routerLinkActive="nav-active">
    <div>
      <mat-icon>troubleshooting</mat-icon><br>
      Aktivno
    </div>
  </button>
  <button class="navbar-button" matButton routerLink="/supervision/reports" routerLinkActive="nav-active">
    <div>
      <mat-icon>analytics</mat-icon><br>
      Izveštaji
    </div>
  </button>
  <mat-divider />
  <button class="navbar-button" matButton routerLink="/management/courses" routerLinkActive="nav-active">
    <div>
      <mat-icon>collections_bookmark</mat-icon><br>
      Moduli
    </div>
  </button>
  <button class="navbar-button" matButton routerLink="/management/stakeholders/learners" routerLinkActive="nav-active">
    <div>
      <mat-icon>group</mat-icon><br>
      Studenti
    </div>
  </button>
  <button class="navbar-button" matButton routerLink="/management/stakeholders/instructors" routerLinkActive="nav-active">
    <div>
      <mat-icon>school</mat-icon><br>
      Mentori
    </div>
  </button>
</div>
