.highlight {
    background-color: #999;
}

.guidance {
    text-align: justify;
}

@media (max-width: 780px) {
    .guidance {
        text-align: left;
    }

    div {
        font-size: 12px;
    }
}