.container {
    height: 100vh;
    width: 95%;
    max-width: 880px;
    margin: 0 auto;
}

.task-definition {
    height: 35%;

    h3 {
        margin: 10px 0 0 0;
        padding: 0 20px;
    }

    .task-description {
        overflow-y: auto;
        padding: 0 20px;
        flex-grow: 1;
    }
}

.task-content {
    height: 65%;

    .steps {
        height: 100%;
        width: 25%;
        overflow-y: auto;
    }
    
    .tabs {
        height: 100%;
        overflow-y: auto;
        padding: 5px 15px;
    }
}

.text-alignment {
    text-align: justify;
}

@media (max-width: 780px) {
    .text-alignment {
        text-align: left;
    }
}