<div fxLayout="row" style="height: 100%" *ngIf="task">
    <div fxFlex="20" fxLayout="column" *ngIf="showTask">
        <div fxFlex="1 1 auto" fxLayout="column" style="padding: 10px 0px 10px 10px;">
            <h3 style="margin: 0;">{{ task.name }}</h3>
            <p style="overflow-y: auto; max-height: 50vh; padding-right: 5px;">
                {{ task.description }}
            </p>
        </div>
        <div fxFlex="1 1 100%" style="overflow-y: auto;">
            <mat-divider></mat-divider>
            <div *ngFor="let step of steps; index as i">
                <div fxLayout fxLayoutAlign="center" style="cursor: pointer; padding: 5px;"
                    [class.highlight]="selectedStep.id===step.id" (click)="viewStep(step)">
                    <div fxFlex>{{ step.order }}. {{ step.name }}</div>
                    <mat-icon *ngIf="isAnswered(step)" color="primary">check_circle</mat-icon>
                    <mat-icon *ngIf="!isAnswered(step)">radio_button_unchecked</mat-icon>
                </div>
                <mat-divider *ngIf="i < steps.length -1"></mat-divider>
            </div>
        </div>
        <span fxFlex></span>
        <span fxLayoutAlign="start">
            <button mat-icon-button color="primary" (click)="showTask = false" style="margin-left: 10px;"
                matTooltip="Sakrij zadatak i korake">
                <mat-icon>keyboard_double_arrow_left</mat-icon>
            </button>
        </span>
    </div>
    <div style="width: 50px;" fxLayout="column" *ngIf="!showTask">
        <div fxFlex="1 1 auto" style="padding: 10px 3px 5px 3px; writing-mode: vertical-rl">
            <b>{{ task.name }}</b>
        </div>
        <div fxFlex="1 1 100%" style="overflow-y: auto;">
            <mat-divider></mat-divider>
            <div *ngFor="let step of steps; index as i">
                <div fxLayout fxLayoutAlign="center" style="cursor: pointer; padding: 5px;"
                    [class.highlight]="selectedStep.id===step.id" (click)="viewStep(step)">
                    {{ step.order }}.
                    <mat-icon *ngIf="isAnswered(step)" color="primary" style="font-size: 20px;">check_circle</mat-icon>
                    <mat-icon *ngIf="!isAnswered(step)" style="font-size: 20px;">radio_button_unchecked</mat-icon>
                </div>
                <mat-divider *ngIf="i < steps.length -1"></mat-divider>
            </div>
        </div>
        <span fxFlex></span>
        <span fxLayoutAlign="start">
            <button mat-icon-button color="primary" (click)="showTask = true" style="margin-left: 10px;"
                matTooltip="Prikaži zadatak i korake">
                <mat-icon>keyboard_double_arrow_right</mat-icon>
            </button>
        </span>
    </div>
    <mat-divider style="border-width: 6px;" vertical="true"></mat-divider>
    <div [fxFlex]="showTask ? '80%' : 'calc(100% - 56px)'" fxLayout="column" style="padding: 10px;">
        <div fxLayout="row" fxLayoutAlign=" center" style="height: 46px;">
            <b>{{selectedStep.name}}</b>
            <span fxFlex></span>
            <span style="padding-bottom: 10px" fxLayoutGap="10" fxLayout="row-reverse">
                <button *ngIf="!showExample && selectedStep.examples?.length > 0" mat-flat-button color="primary"
                    (click)="showExamples()">
                    <mat-icon>photo_library</mat-icon> Primeri
                </button>
                <button *ngIf="showExample && selectedStep.examples?.length !== 1" mat-flat-button color="primary"
                    (click)="getNextExample()">
                    <mat-icon>image</mat-icon> Nov primer
                </button>
                <button *ngIf="showExample" mat-flat-button color="primary" (click)="showExample = false">
                    <mat-icon>hide_image</mat-icon> Sakrij
                </button>
            </span>
        </div>
        <div fxFlex="67" fxLayout="row" class="guidance">
            <div fxLayout="column" style="overflow-y: auto;" fxFlex>
                <markdown [data]="selectedStep.guidance" style="padding-right: 5px;"></markdown>
                <div *ngIf="selectedStep.subactivities" fxFlex style="padding-right: 5px;">
                    <cc-subactivities [selectedStep]="selectedStep" [order]="selectedStep.order"></cc-subactivities>
                </div>
            </div>
            <youtube-player style="padding-left: 5px;" *ngIf="showExample" [width]="500" [height]="280" [videoId]="videoUrl"></youtube-player>
        </div>
        <mat-divider style="border-width: 3px;"></mat-divider>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px; overflow-y: auto;">
            <div *ngIf="selectedStep.standards && selectedStep.standards.length > 0" fxFlex="30">
                <b>Standardi za rešenje</b>
                <div *ngFor="let standard of selectedStep.standards">
                    {{ standard.name }} / {{ standard.maxPoints + (standard.maxPoints === 1 ? ' bod' : ' boda') }}
                </div>
            </div>
            <mat-divider vertical="true"></mat-divider>
            <form [formGroup]="answerForm" *ngIf="selectedStep.submissionFormat" fxLayout="row" fxLayoutGap="10" fxFlex>
                <div fxLayout="column">
                    <b>Rešenje koraka</b>
                    {{ selectedStep.submissionFormat.guidelines }}
                    <mat-form-field appearance="fill">
                        <mat-label>Odgovor</mat-label>
                        <textarea formControlName="answer" matInput rows="3"></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" style="padding: 30px 10px 10px 0;">
                    <button mat-mini-fab color="primary" [disabled]="answerForm.invalid"
                        (click)="submitAnswer()">
                        <mat-icon matTooltip="Sačuvaj rešenje" [matTooltipPosition]="'above'">save</mat-icon>
                    </button>
                    <button mat-mini-fab color="" [disabled]="selectedStep.order == 1" (click)="changeStep(-1)">
                        <mat-icon matTooltip="Prethodni korak" [matTooltipPosition]="'above'">arrow_upward</mat-icon>
                    </button>
                    <button mat-mini-fab color="" [disabled]="selectedStep.order == steps.length" (click)="changeStep(1)">
                        <mat-icon matTooltip="Sledeći korak" [matTooltipPosition]="'above'">arrow_downward</mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>