<div *ngIf="task" class="flex-col container">
    <div class="flex-col task-definition">
        <h3>{{ task.name }}</h3>
        <div class="text-alignment task-description">
            <markdown>{{ task.description }}</markdown>
        </div>
        <mat-divider style="border-width: 3px;"></mat-divider>
    </div>
    <div class="flex-row task-content">
        <div class="steps flex-col" style="justify-content: space-between;">
            <div>
                <div *ngFor="let step of steps; index as i" class="theme-hover">
                    <div [class.theme-highlight]="selectedStep.id===step.id" (click)="viewStep(step)" class="flex-row" style="align-items: center;">
                        <div>
                            <mat-icon *ngIf="isAnswered(step)" color="primary">check_circle</mat-icon>
                            <mat-icon *ngIf="!isAnswered(step)">radio_button_unchecked</mat-icon>
                        </div>
                        <span class="padding-s">{{ step.order }}. {{ step.name }}</span>
                    </div>
                    <mat-divider *ngIf="i < steps.length -1"></mat-divider>
                </div>
            </div>
            <div style="margin: 10px 10px 20px auto">
                <button mat-raised-button [color]="taskProgress.status === 'Completed' ? 'primary' : ''"
                    [routerLink]="['/courses', courseId, 'units', task.unitId]">Lekcija</button>
            </div>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <mat-tab-group *ngIf="selectedStep" style="width: 75%;" dynamicHeight [selectedIndex]="selectedTab">
            <mat-tab label="Submisija rešenja">
                <div class="tabs">
                    <div>
                        <div *ngIf="selectedStep.standards && selectedStep.standards.length > 0">
                            <b>Standardi za odgovor</b>
                            <div *ngFor="let standard of selectedStep.standards">
                                {{ standard.name }} / {{ standard.maxPoints + (standard.maxPoints === 1 ? ' bod' : ' boda') }}
                            </div>
                        </div>
                        <mat-divider vertical="true"></mat-divider>
                        <form [formGroup]="answerForm" *ngIf="selectedStep.submissionFormat">
                            <div>
                                {{ selectedStep.submissionFormat.guidelines }}
                                <mat-form-field appearance="fill">
                                    <mat-label>Odgovor</mat-label>
                                    <small><textarea formControlName="answer" matInput rows="5"></textarea></small>
                                </mat-form-field>
                            </div>
                        </form>
                        <button mat-mini-fab [color]="isAnswered(selectedStep) ? '' : 'primary'" [disabled]="answerForm.invalid"
                            (click)="submitAnswer()">
                            <mat-icon matTooltip="Sačuvaj rešenje" [matTooltipPosition]="'above'">save</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Smernice">
                <div class="tabs text-alignment">
                    <markdown [data]="selectedStep.guidance"></markdown>
                    <div *ngIf="selectedStep.subactivities">
                        <cc-subactivities [selectedStep]="selectedStep" [order]="selectedStep.order"></cc-subactivities>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Primeri" *ngIf="selectedStep.examples?.length > 0">
                <youtube-player [width]="500" [height]="280" [videoId]="videoUrl"></youtube-player>  
                <button *ngIf="selectedStep.examples?.length !== 1" mat-flat-button color="primary"
                    (click)="getNextExample()">
                    <mat-icon>image</mat-icon> Nov primer
                </button>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>