<mat-card appearance="outlined" *ngIf="assessmentStatistics" fxLayout="column" fxLayoutGap="10px">
    <div><b>Analiza pitanja</b></div>
    <div *ngFor="let a of assessmentStatistics">
        <small fxLayout="row" fxLayoutGap="10px">
            Id: {{a.aiId}} | 
            Broj pokušanih: {{a.totalCompleted}} | 
            Broj rešenih: {{a.totalPassed}}
            <span fxFlex></span>
            <button mat-raised-button color="primary" (click)="exportEvents(a.aiId)">Događaji</button>
            <button mat-raised-button [routerLink]="['/authoring/course', courseId, 'unit', unitId, 'knowledge-component', a.kcId, 'assessments']"
                [queryParams]="{ aiId: a.aiId }">
                Autorstvo pitanja
            </button>
        </small>
        <div fxLayout="row">
            <p fxFlex="50">
                <b>Minimalno vreme rada</b><br>
                ~90% učenika je provelo bar <b>{{completionTimeBarsGrouping[a.aiId][0]}} minuta</b> do prvog pokušaja.<br>
                ~65% učenika je provelo bar <b>{{completionTimeBarsGrouping[a.aiId][1]}} minuta</b> do prvog pokušaja.<br><br>
                <b>Maksimalno vreme rada</b><br>
                ~65% učenika je provelo do <b>{{completionTimeBarsGrouping[a.aiId][2]}} minuta</b> do prvog pokušaja.<br>
                ~90% učenika je provelo do <b>{{completionTimeBarsGrouping[a.aiId][3]}} minuta</b> do prvog pokušaja.<br>
            </p>
            <div fxFlex="50" fxLayout="column">
                <div fxFlex><ngx-charts-bar-vertical
                    [results]="attemptsToPassGrouping[a.aiId]"
                    [xAxis]="true"
                    [yAxis]="true"
                    [roundEdges]="false"
                    [showDataLabel]="true">
                </ngx-charts-bar-vertical></div>
                <small style="text-align: center;">Broj submisija do rešenja</small>
            </div>
        </div>
        <br>
        <mat-divider></mat-divider>
    </div>
    <div *ngIf="assessmentStatistics?.length === 0">
        Ne postoje statistike nad pitanjima u okviru ove komponente znanja.
    </div>
</mat-card>