<div class="chat">
  <div class="text">
    Zdravo, klikom na jednu od ponuđenih opcija, kaži nam kako se trenutno
    osećaš povodom učenja ove lekcije
  </div>
  <div class="avatars">
    <div class="img__wrap">
      <img
        src="../../../../assets/images/bored.png"
        alt="Dosadno"
        (click)="submitAndCloseModal('bored')"
      />
      <p class="img__description">Dosadno</p>
    </div>
    <div class="img__wrap">
      <img
        src="../../../../assets/images/tired.png"
        alt="Umorno"
        (click)="submitAndCloseModal('tired')"
      />
      <p class="img__description">Umorno</p>
    </div>
    <div class="img__wrap">
      <img
        src="../../../../assets/images/neutral.png"
        alt="Angažovano"
        (click)="submitAndCloseModal('neutral')"
      />
      <p class="img__description">Angažovano</p>
    </div>
    <div class="img__wrap">
      <img
        src="../../../../assets/images/frustrated.png"
        alt="Iznervirano"
        (click)="submitAndCloseModal('frustrated')"
      />
      <p class="img__description">Iznervirano</p>
    </div>
    <div class="img__wrap">
      <img
        src="../../../../assets/images/confused.png"
        alt="Zbunjeno"
        (click)="submitAndCloseModal('confused')"
      />
      <p class="img__description">Zbunjeno</p>
    </div>
  </div>

  <!-- <div *ngIf="isDisabled">
    <br /><br /><br />
    <button color="primary" mat-raised-button (click)="closeModal()">
      Zatvori
    </button>
  </div> -->
</div>
