<div>
    <div fxLayout="row">
        <mat-card [class.highlight]="selectedActivity?.id===activity.id" style="margin-bottom: 5px; cursor:pointer;"
            fxFlex fxLayout="row" (click)="select(activity)">
            <div fxFlex fxLayout="column">
                <span fxFlex style="font-size: 11pt;"><b> {{activity.code}}: </b>{{activity.name}}</span>
            </div>
            <div fxLayoutGap="30px">
                <span fxLayoutGap="5px">
                    <button mat-icon-button (click)="selectSubactivity()">
                        <mat-icon matTooltip="Dodaj podaktivnost" [matTooltipPosition]="'above'">add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(activity.id)">
                        <mat-icon matTooltip="Obriši" [matTooltipPosition]="'above'">delete</mat-icon>
                    </button>
                </span>
            </div>
        </mat-card>
    </div>

    <div *ngIf="true && activity.subactivities.length">
        <div fxLayout="row" *ngFor="let subactivity of activity.subactivities let i = index">
            <span style="cursor: default;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <mat-card [class.highlight]="selectedActivity?.id===subactivity.id"
                style="margin-bottom: 5px; cursor:pointer" fxFlex fxLayout="row" (click)="select(subactivity)">
                <div fxFlex fxLayout="column">
                    <span style="font-size: 11pt;" fxFlex><b>{{subactivity.order}}.</b> {{subactivity.code}}:
                        {{subactivity.name}}
                    </span>
                </div>
                <div fxLayoutGap="30px">
                    <span fxLayoutGap="5px">
                    </span>
                    <span>
                        <button [disabled]="i === 0" mat-icon-button (click)="up(i)">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <button [disabled]="i === activity.subactivities.length - 1" mat-icon-button (click)="down(i)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <button mat-icon-button (click)="remove(i)">
                            <mat-icon matTooltip="Ukloni" [matTooltipPosition]="'above'">delete</mat-icon>
                        </button>
                    </span>
                </div>
            </mat-card>
        </div>
    </div>
</div>