<div class="content">
    <h1>Clean CaDET Tutor</h1>
    <p>
      Clean CaDET Tutor je interaktivan i adaptivan sistem za elektronski podržano učenje, fokusiran na domen softverskog inženjerstva i specijalizovan za oblast dizajniranja čistog koda. Kako bi sistem mogao da se prati tvoj progres kroz gradivo, neophodno je da se prijaviš. Koristeći <b>Login</b> taster u navigacionoj traci pronađi formu za prijavu gde ćeš uneti svoj indeks i lozinku.
    </p>
    <hr>
    <h2>Šta je čist kod i zašto je bitan?</h2>
    <div style="text-align: center;">
      <p style="text-align: justify;">Svaki izazov zahteva dobru motivaciju za njegovo rešavanje kako bismo uložili potrebnu energiju i vreme. Za izazov učenja čistog koda sagledavamo šta lideri iz naše industrije misle o značaju ove priče.</p>
      <iframe width="888" height="500" src="https://www.youtube.com/embed/wcFFghYt8Js" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <h2>Katalog lekcija</h2>
    <p>Edukativni sadržaj Tutora je organizovan u <b>lekcije</b>, koje su potom segmentirane na <b>veštine</b>. Svaka veština prezentuje određeno znanje kroz <b>gradivo</b>. Zatim je neophodno da pristupiš rešavanju povezanih <b>zadataka</b> kako bi demonstrirao da si usvojio znanje i razvio zadovoljavajući stepen povezane veštine. Neophodno je savladati sve veštine lekcije da bi se ona kompletirala.</p>
    <div fxLayout="row wrap">
      <mat-card style="margin: 10px;" *ngFor="let unit of units"
                fxFlex="30"
                fxFlex.md="45"
                fxFlex.sm="100"
                fxFlex.xs="100">
        <mat-card-header>
          <mat-icon mat-card-avatar>book</mat-icon>
          <mat-card-title style="text-align: left;">{{unit.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <markdown>{{unit.description}}</markdown>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="'/unit/' + unit.id">Istraži</a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
<br><br>
