<div class="content">
  <h1>Clean CaDET Tutor</h1>
  <p>
    Clean CaDET Tutor je interaktivan sistem za elektronski podržano učenje,
    fokusiran na domen softverskog inženjerstva. Neophodno je da se prijaviš
    kako bi sistem mogao da prati tvoj progres kroz gradivo. Koristeći taster
    <b>Prijavi se</b> u navigacionoj traci pronađi formu za prijavu gde ćeš
    uneti svoje korisničko ime i lozinku.
  </p>
  <p>
    Edukativni sadržaj Tutora je definisan u okviru <b>kursa</b>, koji se
    sastoji od <b>lekcija</b>. Lekcije su segmentirane na sitne celine koje
    zovemo <b>veštine</b>. Odabirom veštine sistem ti prezentuje <b>gradivo</b>.
    Kada prođeš gradivo, neophodno je da pristupiš rešavanju povezanih <b>zadataka</b>.
    Neophodno je savladati sve veštine lekcije da bi se ona kompletirala.
  </p>
  <p>
    Nakon što se prijaviš, videćeš spisak prijavljenih kurseva u nastavku.
    Odabirom kursa dobijaš spisak dostupnih lekcija koji će se vremenom širiti.
    Postaraj se da pregledaš i savladaš svaku lekciju.
  </p>
  <hr />
  <cc-dashboard></cc-dashboard>
</div>
<br /><br />
