.embedded-notes-container {
  padding: 16px;
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.notes-header {
  margin-bottom: 16px;
}

.note-card {
  width: 100%;
  margin-bottom: 16px;
}

.no-notes-message {
  color: #666;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.mat-mdc-card {
  padding: 10px;
  margin-top: 10px;
  word-break: break-all;
}

mat-form-field {
  margin-bottom: 20px;
}

.pointer:hover {
  cursor: pointer;
}

.pointer.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pointer.disabled:hover {
  cursor: not-allowed;
}