h1 {
  font-size: xx-large;
}

.container {
  max-width: 880px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

@media (max-width: 520px) {
  .container {
    text-align: left;
  }
}