@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  .assessments-table {
    background-color: mat.get-color-from-palette($primary-palette, 50);
  }
}
