<mat-card appearance="outlined" class="flex-col gap" style="height: 100%;">
    <div class="flex-row" style="align-items: center; padding: 0 10px; justify-content: space-between;">
        <h2>Vlastiti moduli</h2>
        <button mat-mini-fab color="primary" (click)="onAddOwnedCourse()" matTooltip="Dodaj">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div style="overflow-y: auto; flex-grow: 1;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows *ngIf="dataSource?.data.length > 0">
            <ng-container [matColumnDef]="field.code" *ngFor="let field of fieldConfiguration">
            <th mat-header-cell *matHeaderCellDef>{{field.label}}</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="field.type === 'string'">
                {{element[field.code]}}
                </span>
                <span *ngIf="field.type === 'CRUD'">
                    <span style="flex-grow: 1;"></span>
                    <button *ngIf="field.crud.delete" mat-icon-button matTooltip="Obriši" (click)="onDelete(element.id); $event.stopPropagation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let element; columns: columns;"></tr>
        </table>
    </div>
</mat-card>
