<div class="overflow">
    <form [formGroup]="activityForm">
        <div fxLayoutGap="10px">
            <mat-form-field fxFlex="20" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Kod</mat-label>
                <input formControlName="code" matInput [readonly]="!editMode">
            </mat-form-field>
            <mat-form-field fxFlex="65" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode">
            </mat-form-field>
            <section fxLayout="row" fxFlex="15" fxLayoutGap="10px">
                <span fxFlex></span>
                <button mat-mini-fab *ngIf="!editMode" (click)="edit()">
                    <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" color="primary" [disabled]="!activityForm.valid"
                    (click)="submit()">
                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" color="warn" (click)="discardChanges()">
                    <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                </button>
            </section>
        </div>
        <div>
            <h4 *ngIf="!editMode">Smernice</h4>
            <section>
                <cc-markdown-editor fxFlex [label]="'Smernice *'" [livePreview]="false"
                    [text]="activityForm.get('guidance').value"
                    (textChanged)="this.activityForm.get('guidance').setValue($event)"
                    [editMode]="editMode"></cc-markdown-editor>
            </section>
        </div>
        <div><!-- Examples -->
            <h4 *ngIf="examples.controls?.length !== 0 || editMode">Video primeri sprovođenja aktivnosti</h4>
            <div formArrayName="examples" fxLayout="column">
                <div *ngFor="let exampleForm of examples.controls; let i = index">
                    <div [formGroup]="exampleForm" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                        <mat-form-field [appearance]="editMode ? 'fill' : 'outline'" fxFlex="30">
                            <mat-label>Naslov</mat-label>
                            <input matInput formControlName="code" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field [appearance]="editMode ? 'fill' : 'outline'" fxFlex="70">
                            <mat-label>Url</mat-label>
                            <input matInput formControlName="url" [readonly]="!editMode">
                        </mat-form-field>
                        <button *ngIf="editMode" mat-icon-button
                            (click)="deleteExample(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addExample()" *ngIf="editMode">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!activity.parentId" fxLayout="column" formGroupName="submissionFormat">
            <h4>Format odgovora</h4>
            <section fxLayout fxLayoutGap="10px">
                <mat-form-field fxFlex="10" [appearance]="editMode ? 'fill' : 'outline'">
                    <mat-label>Tip</mat-label>
                    <mat-select formControlName="type" (selectionChange)="typeSelected()">
                        <mat-option value="Text">Tekst</mat-option>
                        <mat-option value="Link">Link</mat-option>
                        <mat-option value="Code">Kod</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="editMode ? 'fill' : 'outline'">
                    <mat-label>Regex validacija odgovora</mat-label>
                    <input formControlName="validationRule" matInput [readonly]="!editMode">
                </mat-form-field>
            </section>
            <mat-form-field [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Uputstvo za formatiranje odgovora</mat-label>
                <textarea formControlName="guidelines" matInput [readonly]="!editMode"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="!activity.parentId"><!-- Standards -->
            <h4 *ngIf="standards.controls?.length !== 0 || editMode">Standardi</h4>
            <div formArrayName="standards" fxLayout="column">
                <div *ngFor="let standardForm of standards.controls; let i = index">
                    <div [formGroup]="standardForm" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                        <mat-form-field fxFlex="30" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Naziv</mat-label>
                            <input matInput formControlName="name" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field fxFlex="60" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Smernice za ocenjivanje</mat-label>
                            <input matInput formControlName="description" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field fxFlex="10" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Bodovi</mat-label>
                            <input matInput type="number" formControlName="maxPoints" [readonly]="!editMode">
                        </mat-form-field>
                        <button *ngIf="editMode" mat-icon-button
                            (click)="deleteStandard(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addStandard()" *ngIf="editMode">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>