<div class="overflow">
    <form [formGroup]="activityForm">
        <div class="flex-row gap">
            <mat-form-field style="width: 100px;" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Kod</mat-label>
                <input formControlName="code" matInput [readonly]="!editMode">
                <mat-error *ngIf="activityForm.get('code').hasError('notUnique') && activityForm.get('code').touched">Jedinstven za zadatak</mat-error>
            </mat-form-field>
            <mat-form-field style="flex-grow: 1;" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode">
            </mat-form-field>
            <section class="flex-row gap" style="width: 100px;">
                <span style="flex-grow: 1;"></span>
                <button mat-icon-button *ngIf="!editMode"
                    matTooltip="Izmeni" (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" color="primary" matTooltip="Sačuvaj"
                    [disabled]="!activityForm.valid || updateStatus === 1" (click)="submit()">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" color="warn" matTooltip="Odbaci"
                    [disabled]="updateStatus === 1" (click)="discardChanges()">
                    <mat-icon>clear</mat-icon>
                </button>
            </section>
        </div>
        <div class="flex-col">
            <b *ngIf="!editMode" class="theme-highlight-primary header">Smernice (parcijalna rešenja i preporuke za nesnađenog studenta)</b>
            <markdown *ngIf="!editMode" [data]="activityForm.get('guidance').value" lineNumbers></markdown>
            <cc-markdown-editor *ngIf="editMode" [label]="'Smernice (parcijalna rešenja i preporuke za nesnađenog studenta) *'"
                [text]="activityForm.get('guidance').value" (textChanged)="this.activityForm.get('guidance').setValue($event)">
            </cc-markdown-editor>
        </div>
        <div class="flex-col gap" *ngIf="examples.controls?.length !== 0 || editMode"><!-- Examples -->
            <b class="theme-highlight-primary header">Video primeri rešavanja koraka</b>
            <div formArrayName="examples" class="flex-col">
                <div *ngFor="let exampleForm of examples.controls; let i = index">
                    <div [formGroup]="exampleForm" class="flex-row gap">
                        <mat-form-field [appearance]="editMode ? 'fill' : 'outline'" style="width: 70%">
                            <mat-label>Naslov</mat-label>
                            <input matInput formControlName="code" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field [appearance]="editMode ? 'fill' : 'outline'" style="width: 30%">
                            <mat-label>Url</mat-label>
                            <input matInput formControlName="url" [readonly]="!editMode">
                        </mat-form-field>
                        <button *ngIf="editMode" mat-icon-button
                            (click)="deleteExample(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addExample()" *ngIf="editMode">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!activity.parentId" class="flex-col gap" formGroupName="submissionFormat">
            <b class="theme-highlight-primary header">Format odgovora</b>
            <section class="flex-row gap">
                <mat-form-field style="width: 20%" [appearance]="editMode ? 'fill' : 'outline'">
                    <mat-label>Tip</mat-label>
                    <mat-select formControlName="type" (selectionChange)="typeSelected()">
                        <mat-option value="Text">Tekst</mat-option>
                        <mat-option value="Link">Link</mat-option>
                        <mat-option value="Code">Kod</mat-option>
                        <mat-option value="GitPR">Git PR</mat-option>
                        <mat-option value="GitCommit">Git Commit</mat-option>
                        <mat-option value="TrelloCard">Trello Card</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 80%;" [appearance]="editMode ? 'fill' : 'outline'">
                    <mat-label>Regex validacija odgovora</mat-label>
                    <input formControlName="validationRule" matInput [readonly]="!editMode">
                </mat-form-field>
            </section>
            <div>
                <b *ngIf="!editMode">Uputstvo za formatiranje odgovora</b>
                <markdown *ngIf="!editMode" [data]="activityForm.get('submissionFormat').get('guidelines').value" lineNumbers></markdown>
                <cc-markdown-editor *ngIf="editMode" [label]="'Uputstvo za formatiranje odgovora *'"
                    [text]="activityForm.get('submissionFormat').get('guidelines').value" (textChanged)="this.activityForm.get('submissionFormat').get('guidelines').setValue($event)">
                </cc-markdown-editor>
            </div>
        </div>
        <div *ngIf="!activity.parentId && (standards.controls?.length !== 0 || editMode)" class="flex-col gap"><!-- Standards -->
            <b class="theme-highlight-primary header">Standardi (sortirani po nazivu)</b>
            <div formArrayName="standards" class="flex-col">
                <div *ngFor="let standardForm of standards.controls; let i = index">
                    <div [formGroup]="standardForm" class="flex-row gap">
                        <mat-form-field style="width: 30%;" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Naziv</mat-label>
                            <input matInput formControlName="name" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field style="flex-grow: 1;" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Smernice za ocenjivanje</mat-label>
                            <input matInput formControlName="description" [readonly]="!editMode">
                        </mat-form-field>
                        <mat-form-field style="width: 71px" [appearance]="editMode ? 'fill' : 'outline'">
                            <mat-label>Bodovi</mat-label>
                            <input matInput type="number" formControlName="maxPoints" [readonly]="!editMode">
                        </mat-form-field>
                        <button *ngIf="editMode" mat-icon-button
                            (click)="deleteStandard(i)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
                <button mat-mini-fab color="primary" (click)="addStandard()" *ngIf="editMode">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>