<div class="overflow">
    <form [formGroup]="taskForm" class="flex-col">
        <section fxLayoutGap="20px" class="flex-row">
            <mat-form-field fxFlex [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Naziv</mat-label>
                <input formControlName="name" matInput [readonly]="!editMode">
            </mat-form-field>
            <mat-form-field style="width: 70px;" [appearance]="editMode ? 'fill' : 'outline'">
                <mat-label>Redni #</mat-label>
                <input type="number" formControlName="order" matInput [readonly]="!editMode">
            </mat-form-field>
            <mat-checkbox formControlName="isTemplate" [disabled]="!editMode" style="padding-top: 20px;">
                Šablon
                <mat-icon [matTooltipPosition]="'above'" style="font-size: 16px;"
                            matTooltip="Šablon definiše klasu sličnih zadataka. Nastavnik prvo definiše šablon zadatka, njegove korake i opšte smernice. Zatim klonira šablon da definiše konkretne zadatke i po potrebi menja (konkretizuje) korake i smernice. Učenik vidi samo konkretne zadatke.">help_outline</mat-icon>
            </mat-checkbox>
            <section class="flex-row" fxFlex="15" fxLayoutGap="10px">
                <span fxFlex></span>
                <button mat-icon-button *ngIf="!editMode" (click)="editMode = true"
                    [class.mat-flat-button]="!task?.description"
                    [color]="task?.description ? '' : 'primary'">
                    <mat-icon matTooltip="Izmeni" [matTooltipPosition]="'above'">edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" [disabled]="!taskForm.valid" (click)="submitForm()" color="primary">
                    <mat-icon matTooltip="Sačuvaj" [matTooltipPosition]="'above'">check</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="editMode" (click)="discardChanges()" color="warn">
                    <mat-icon matTooltip="Odbaci" [matTooltipPosition]="'above'">clear</mat-icon>
                </button>
            </section>
        </section>
        <div class="flex-col">
            <h4 *ngIf="!editMode">Opis</h4>
            <markdown *ngIf="!editMode" [data]="taskForm.get('description').value"></markdown>
            <cc-markdown-editor *ngIf="editMode" fxFlex [label]="'Opis'" [text]="taskForm.get('description').value"
                (textChanged)="this.taskForm.get('description').setValue($event)">
            </cc-markdown-editor>
        </div>
    </form>
</div>