<div class="flex-row" style="height: 100vh; overflow: hidden;">
    <div class="flex-col" style="width: 20%; height: 100%;">
        <mat-form-field appearance="fill" style="padding: 10px; margin-bottom: -1.25em">
            <mat-label>Dan pred sastanak</mat-label>
            <input matInput [matDatepicker]="picker" [value]="selectedDate" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="padding: 10px; margin-bottom: -1.25em" *ngIf="units?.length">
            <mat-label>Lekcija</mat-label>
            <mat-select [(value)]="selectedUnitId" (selectionChange)="getTasks()">
                <mat-option *ngFor="let unit of units" [value]="unit.id">
                    {{unit.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <small *ngIf="!units?.length" style="padding: 10px;">
            Student nije imao nove lekcije u protekloj nedelji.
        </small>
        <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
            <div *cdkVirtualFor="let task of tasks">
                <div [class.theme-highlight-primary]="selectedTask?.id === task.id" style="padding: 10px;">
                    <small>{{task.order}}. {{task.name}}</small>
                </div>
                <div *ngFor="let step of task.steps">
                    <div class="flex-row theme-hover"
                        style="padding-left: 20px; align-items: center; justify-content: space-between;"
                        [class.unclickable]="isUnanswered(step)"
                        [class.theme-highlight-primary]="selectedStep?.id === step.id"
                        (click)="select(task, step)">
                        <small>
                            {{step.order}}. {{step.name}}
                        </small>
                        <span>
                            <mat-icon *ngIf="isUnanswered(step)">cancel</mat-icon>
                            <mat-icon *ngIf="step.progress?.status === 'Answered'">radio_button_unchecked</mat-icon>
                            <mat-icon *ngIf="step.progress?.status === 'Graded'" color="primary">check_circle</mat-icon>
                        </span>
                    </div>
                </div>
                <mat-divider style="border-width: 2px;"></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-divider vertical="true" style="border-width: 3px;"></mat-divider>
    <div class="flex-col" style="height: 100%; flex-grow: 1; width: 80%;" *ngIf="selectedStep">
        <div class="flex-col" style="flex: 1; overflow: hidden;" *ngIf="!isUnanswered(selectedStep)">
            <div style="height: 35%; overflow-y: auto; padding: 10px;">
                <markdown lineNumbers [data]="selectedTask?.description"></markdown>
                <h3>Uputstvo za formatiranje odgovora:</h3>
                <div style="padding-bottom: 20px;"><markdown lineNumbers [data]="selectedStep?.submissionFormat.guidelines"></markdown></div>
            </div>
            <mat-divider style="border-width: 3px;"></mat-divider>
            <div style="flex: 1; overflow-y: auto;">
                <div style="max-height: 50%; padding: 10px; overflow: auto;">
                    <pre *ngIf="selectedStep?.submissionFormat.type === 'Text'">{{ selectedStep.progress?.answer }}</pre>
                    <markdown lineNumbers *ngIf="selectedStep?.submissionFormat.type === 'Code'" [data]="'```csharp\n'+selectedStep.progress?.answer"></markdown>
                    <a *ngIf="selectedStep?.submissionFormat.type !== 'Text' && selectedStep?.submissionFormat.type !== 'Code'"
                        [href]="selectedStep.progress?.answer" target="_blank">{{ selectedStep.progress?.answer }}</a>
                </div>
                <mat-divider style="border-width: 3px;"></mat-divider>
                <div [formGroup]="gradingForm" style="padding: 10px">
                    <div *ngIf="structuredFormShown">
                        <div formArrayName="evaluations">
                            <div *ngFor="let evaluation of evaluations.controls; let i = index"
                                [formGroup]="evaluation">
                                <div class="flex-col gap">
                                    <div>
                                        {{ selectedStep?.standards[i]?.name }}; {{ selectedStep?.standards[i]?.description }}
                                    </div>
                                    <div class="flex-row gap" style="align-items: center;">
                                        <mat-form-field style="width: 72px" [appearance]="'fill'">
                                            <mat-label>Bodovi</mat-label>
                                            <input matInput type="number" formControlName="points" autofocus>
                                            <span class="input-suffix">/ {{ selectedStep?.standards[i]?.maxPoints }}</span>
                                        </mat-form-field>
                                        <mat-form-field style="flex-grow: 1;" [appearance]="'fill'">
                                            <mat-label>Komentar</mat-label>
                                            <input matInput formControlName="comment">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row gap" style="height: auto; align-items: center;">
                            <mat-form-field style="flex-grow: 1;" appearance="fill">
                                <mat-label>Dodatan komentar</mat-label>
                                <input matInput formControlName="comment">
                            </mat-form-field>
                            <button mat-raised-button color="primary"
                                [disabled]="gradingForm.invalid" (click)="submit()">
                                Oceni
                            </button>
                        </div>
                    </div>
                    <mat-form-field style="width: 100%;" appearance="fill" *ngIf="!structuredFormShown">
                        <mat-label>Sirova evaluacija</mat-label>
                        <textarea matInput formControlName="rawEvaluation" rows="8"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div *ngIf="isUnanswered(selectedStep)" style="flex-grow: 1; padding: 10px;">
            Student nije još uvek predao odgovor za ovaj korak.
        </div>
        <div *ngIf="selectedUnitId" class="flex-row gap" style="height: 48px; justify-content: flex-end; align-items: center;">
            <span class="flex-row gap" *ngIf="!isUnanswered(selectedStep) && (selectedStep.submissionFormat.type === 'Code' || selectedStep.submissionFormat.type === 'Text')">
                <button mat-icon-button (click)="copyPrompt()" matTooltip="Kopiraj za ChatGPT" [color]="structuredFormShown ? 'primary' : ''">
                    <span><mat-icon>psychology</mat-icon></span>
                </button>
                <button mat-icon-button (click)="showStructuredForm()" *ngIf="!structuredFormShown" color="primary" matTooltip="Zameni prikaz forme">
                    <span><mat-icon>swap_vert_circle</mat-icon></span>
                </button>
            </span>
            <span style="flex-grow: 1;"></span>
            <button mat-icon-button (click)="changeLearner(-1)">
                <span><mat-icon>arrow_back_ios_new</mat-icon></span>
            </button>
            <mat-icon matTooltip="Student">person</mat-icon>
            <button mat-icon-button (click)="changeLearner(1)">
                <span><mat-icon>arrow_forward_ios_new</mat-icon></span>
            </button>
            <span></span>
            <button mat-icon-button (click)="changeStep(-1)">
                <span><mat-icon>arrow_back_ios_new</mat-icon></span>
            </button>
            <mat-icon matTooltip="Korak zadatka">checklist_rtl</mat-icon>
            <button mat-icon-button (click)="changeStep(1)">
                <span><mat-icon>arrow_forward_ios_new</mat-icon></span>
            </button>
        </div>
    </div>
</div>