<div class="content">
    <h1>Clean CaDET Smart Tutor</h1>
    <markdown>
        {{content.introduction}}
    </markdown>
    <div style="align-items: center;">
        <markdown fxFlex="70">
            {{content.challengeTutorialText}}
            {{content.adaptive}}
        </markdown>
        <img src="{{content.challengeTutorialImage}}" fxFlex="30" style="padding-left: 20px;">
    </div>
    <br>
    <hr>
    <h2>Lecture Catalog</h2>
    <p>{{content.lectureCatalog}}</p>
    <div fxLayout="row wrap">
        <mat-card style="margin: 10px;" *ngFor="let lecture of lectures"
            fxFlex="30"
            fxFlex.md="45"
            fxFlex.sm="100"
            fxFlex.xs="100">
            <mat-card-header>
                <mat-icon mat-card-avatar>book</mat-icon>
                <mat-card-title style="text-align: left;">{{lecture.name}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{lecture.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button [routerLink]="'/lecture/' + lecture.id">Explore</a>
              </mat-card-actions>
        </mat-card>
    </div>
</div>
<br><br>