<div class="content">
    <h1>Clean CaDET Smart Tutor</h1>
    <p>
      Clean CaDET Smart Tutor je interaktivan i adaptivan sistem za elektronski podržano učenje, fokusiran na domen softverskog inženjerstva i specijalizovan za oblast dizajniranja čistog koda.
    </p>
    <p>
      Kako bi sistem mogao da se adaptira tvojim preferencama i prati tvoj progres kroz modul, neophodno je da se registruješ. Koristeći <b>Login</b> taster u navigacionoj traci pronađi formu za registraciju gde ćeš uneti svoj indeks i VARK ocene. Kada umesto Login tastera stoji tvoj indeks nastavi sa prolaskom ove stranice.
    </p>
    <hr>
    <h2>Šta je čist kod i zašto je bitan?</h2>
    <div style="text-align: center;">
      <p style="text-align: justify;">Svaki izazov zahteva dobru motivaciju za njegovo rešavanje kako bismo uložili potrebnu energiju i vreme. Za izazov učenja čistog koda sagledavamo šta lideri iz naše industrije misle o značaju ove priče.</p>
      <iframe width="888" height="500" src="https://www.youtube.com/embed/wcFFghYt8Js" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <h2>Lecture Catalog</h2>
    <p>Edukativni sadržaj Tutora je organizovan u lekcije, koje su potom segmentirane na module. Deo modula je fokusiran na prezentaciju novog gradiva, dok se praktični moduli fokusiraju na izazove. Neophodno je savladati sve module lekcije da bi se ona kompletirala.</p>
    <p>Danas na tacni imaš dve lekcije - "Jasna imena" i "Kratke funkcije". Odaberi "Jasna imena" iz kataloga ispod ili navigacione trake sa strane i nakon što prođeš njen opis izaberi prvi modul.</p>
    <div fxLayout="row wrap">
        <mat-card style="margin: 10px;" *ngFor="let lecture of lectures"
            fxFlex="30"
            fxFlex.md="45"
            fxFlex.sm="100"
            fxFlex.xs="100">
            <mat-card-header>
                <mat-icon mat-card-avatar>book</mat-icon>
                <mat-card-title style="text-align: left;">{{lecture.name}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{lecture.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button [routerLink]="'/lecture/' + lecture.id">Explore</a>
              </mat-card-actions>
        </mat-card>
    </div>
</div>
<br><br>