<div class="flex-col">
  <div style="margin: 10px;">
    <button matIconButton (click)="add()"
      [class.active-tab]="!tasks().length">
      <mat-icon>add</mat-icon>
    </button>
    <span>&nbsp;&nbsp;Dodeli elaboracijski zadatak za ovu lekciju.</span>
  </div>

  @for (task of tasks(); track task.id) {
    <mat-card appearance="outlined" style="margin: 10px;">
      <div class="flex-row gap theme-highlight-primary" style="align-items: center; padding: 5px 0;">
        <div style="flex-grow: 1; padding-left: 10px;">
          <b>{{ task.order }}. {{ task.conceptRecordTitle }}</b>
        </div>
        <button matIconButton (click)="edit(task)" matTooltip="Ažuriraj">
          <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton (click)="delete(task.id!)" matTooltip="Obriši">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div style="padding: 5px 10px 10px 10px;">
        <small style="opacity: 0.8;">Nivo: {{ task.expectedLevel }}</small>
      </div>
    </mat-card>
  }
</div>
