<form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column">
  <mat-error *ngIf="hasError">Index not found. Please register a new account.</mat-error>
  <mat-form-field>
    <mat-label>Index</mat-label>
    <input matInput type="text" name="index" formControlName="studentIndex">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" formControlName="password">
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <button color="primary" type="submit" mat-raised-button>Login</button>
    <a routerLink="/register">Register here.</a>
  </div>
</form>
