@use "@angular/material" as mat;
mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

$cc-palette: (
  50: #262626,
  100: #b3bcc7,
  200: #818fa1,
  300: #5b97c8,
  400: #29405f,
  500: #031e43,
  600: #031a3d,
  700: #021634,
  800: #02122c,
  900: #010a1e,
  A100: #5b78ff,
  A200: #284eff,
  A400: #002bf4,
  A700: #0027da,
  contrast: (
    50: #E0E0E0,
    100: #E0E0E0,
    200: #E0E0E0,
    300: #E0E0E0,
    400: #E0E0E0,
    500: #E0E0E0,
    600: #E0E0E0,
    700: #E0E0E0,
    800: #E0E0E0,
    900: #E0E0E0,
    A100: #E0E0E0,
    A200: #E0E0E0,
    A400: #E0E0E0,
    A700: #E0E0E0,
  ),
);

a {
  color: #5b78ff;
}

$cc-primary-dark: mat.m2-define-palette($cc-palette, 300, 100, 800);
$cc-accent-dark: mat.m2-define-palette(mat.$m2-yellow-palette, 600);
$cc-warn-dark: mat.m2-define-palette(mat.$m2-deep-orange-palette, 400);

$cc-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $cc-primary-dark,
      accent: $cc-accent-dark,
      warn: $cc-warn-dark
    ),
    is-dark: true,
    density: 0
  )
);

$cc-primary-light: mat.m2-define-palette(mat.$m2-blue-palette, 700);
$cc-accent-light: mat.m2-define-palette(mat.$m2-amber-palette, 700);
$cc-warn-light: mat.m2-define-palette(mat.$m2-red-palette, A200);

$cc-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $cc-primary-light,
      accent: $cc-accent-light,
      warn: $cc-warn-light,
    ),
    is-dark: false
  )
);

@mixin theme-hover-effect($theme) {
  $is-dark: map-get($theme, is-dark);

  // Adjusting the hover color based on whether the theme is dark or light
  $hover-color: if($is-dark, #555, #eee);

  .theme-hover {
    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }

  $color-config: mat.m2-get-color-config($theme);
  $accent-palette: map-get($color-config, 'accent');

  $primary-highlight: if($is-dark, #122536, #e6e6e6);
  .theme-highlight-primary {
    background-color: $primary-highlight;
  }

  .theme-highlight-accent {
    color: mat.m2-get-color-from-palette($accent-palette);
  }

  .theme-warn {
    color: mat.m2-get-color-from-palette(map-get($color-config, 'warn'));
  }

  .mat-mdc-dialog-content {
    color: if($is-dark, #fffd, #000b) !important;
  }
}

.dark-theme-mode {
  @include mat.all-component-themes($cc-dark-theme);
  @include theme-hover-effect($cc-dark-theme);
}

.light-theme-mode {
  @include mat.all-component-themes($cc-theme);
  @include theme-hover-effect($cc-theme);
}

@include mat.all-component-typographies(mat.m2-define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif'
));