@import "./cc-primary-theme.scss"; /* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

p > code, li > code {
  font-size: 1.05em;
}

pre {
  white-space: pre-wrap;
}

mat-icon {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  overflow-y: scroll;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.navbar-button {
  height: 55px !important;
  letter-spacing: normal !important;
}