<div class="flex-row dashboard">
  <mat-card appearance="outlined" class="flex-item theme-hover"
    *ngFor="let unit of course.knowledgeUnits" [routerLink]="'units/' + unit.id">
    <mat-card-header>
      <mat-icon mat-card-avatar>article</mat-icon>
      <mat-card-title style="text-align: left">{{ unit.name }}</mat-card-title>
      <span style="flex-grow: 1;"></span>
      <mat-icon *ngIf="isMastered(unit.id)" class="medal-icon" matTooltip="Uspešno su savladane komponente znanja date lekcije." svgIcon="medal"></mat-icon>
    </mat-card-header>
    <mat-card-content>
      <p>
        <markdown>{{ unit.goals }}</markdown>
      </p>
    </mat-card-content>
  </mat-card>
</div>
