<div fxLayout="row wrap" fxLayoutGap="10px">
  <mat-card
    class="card"
    *ngFor="let unit of course.knowledgeUnits"
    fxFlex="30"
    fxFlex.md="45"
    fxFlex.sm="100"
    fxFlex.xs="100"
    [routerLink]="'/course/' + course.id + '/unit/' + unit.id"
  >
    <mat-card-header>
      <mat-icon mat-card-avatar>book</mat-icon>
      <mat-card-title style="text-align: left">{{ unit.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <markdown>{{ unit.description }}</markdown>
      </p>
    </mat-card-content>
  </mat-card>
</div>
