<div fxLayout="row wrap">
  <div *ngFor="let unit of course.knowledgeUnits"
    fxFlex="33"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100">
  <mat-card style="margin: 10px" class="card" fxFlex
    [routerLink]="'/course/' + course.id + '/unit/' + unit.id">
    <mat-card-header>
      <mat-icon mat-card-avatar>book</mat-icon>
      <mat-card-title style="text-align: left">{{ unit.name }}</mat-card-title>
      <span fxFlex></span>
      <mat-icon *ngIf="isMastered(unit.id)" class="medal-icon" matTooltip="Uspešno su savladane veštine date lekcije." svgIcon="medal"></mat-icon>
    </mat-card-header>
    <mat-card-content>
      <p>
        <markdown>{{ unit.description }}</markdown>
      </p>
    </mat-card-content>
  </mat-card>
  </div>
</div>
