<form [formGroup]="registerForm" (ngSubmit)="onRegister()" fxLayout="column">
  <mat-form-field fxFlex="10">
    <mat-label>Index</mat-label>
    <input matInput type="text" name="index" formControlName="studentIndex" placeholder="Ex. xx-111-2020">
    <mat-error *ngIf="registerForm.controls['studentIndex'].errors?.invalidIndex">
      Please enter a valid index.
    </mat-error>
  </mat-form-field>
  <div>
    <button color="primary" [disabled]="!registerForm.valid" mat-raised-button type="submit">Register</button>
  </div>
</form>
