.kc-menu {
  padding-right: 20px;
  font-size: 15px;
}

.mastery {
  font-size: 16px;
  margin-top: 10px;
}

.percent-icon {
  margin-top: 3px;
  font-size: 17px;
}

.node-item {
  margin: 15px 0 0 15px;
}

.node-children {
    position: relative;
    transition: height 0.2s;
    margin-left: 20px;
}