.mastery {
  font-size: 16px;
  margin-top: 10px;
}

.percent-icon {
  margin-top: 3px;
  font-size: 17px;
}

.node-item {
  margin-top: 15px;
}

.node-children {
    position: relative;
    margin-left: 30px;
}