<ng-template #tmplNode let-node="node">
  <div class="node-item">
    <div class="node-title" fxLayout="row">
      <button mat-menu-item [routerLink]="['kc', node.id]" [disabled]="isLocked(node)">
        <mat-icon *ngIf="isLocked(node)">lock</mat-icon>
        <mat-icon *ngIf="isCompleted(node)" color="accent">done</mat-icon>
        <span *ngIf="isInProgress(node)">
          <b class="mastery">{{(node.mastery * 100).toFixed(0)}}</b>
          <mat-icon class="percent-icon">percent</mat-icon>
        </span>
        <span [ngClass]="{'accent': isCompleted(node)}">{{node.order}}. {{node.name}}</span>
      </button>
    </div>
    <div *ngIf="node.children.length" class="node-children">
      <div *ngFor="let child of node.children">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<div>
  <div *ngFor="let node of nodes">
    <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
  </div>
</div>
