<div fxLayout="column" fxLayoutGap="20px" class="container-with-footer">
    <div *ngFor="let l of learners">
        <mat-card fxFlex="95" class="mat-elevation-z7">
            <mat-card-title>{{l.name}} {{l.surname}}</mat-card-title>
            <mat-card-subtitle>{{l.index}}</mat-card-subtitle>
            <mat-card-content>
                <cc-assessments-table [knowledgeComponentMasteries]="l.knowledgeComponentMasteries"></cc-assessments-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-paginator
    (page)="changePage($event)"
    [length]="count"
    [pageSizeOptions]="['10', '25', '50']"
    [pageSize]="pageSize">
</mat-paginator>