<div class="flex-col">
  @if (!isEditing()) {
    <div style="margin: 10px;">
      <button matIconButton (click)="add()"
        [class.active-tab]="!reflections().length">
        <mat-icon>add</mat-icon>
      </button>
      <span>&nbsp;&nbsp;Kroz refleksiju student ocenjuje materijal ili sistem i komunicira svoje (ne)zadovoljstvo i iskustvo.</span>
    </div>
  }
  @for (item of reflections(); track item.id) {
    <mat-card appearance="outlined" style="margin: 10px;">
      @if (!isEditing() || editId() !== item.id) {
        <div>
          <div class="flex-row gap theme-highlight-primary">
            <div class="flex-row" style="flex-grow: 1; align-items: center; padding-left: 10px;">
              <b>{{ item.order }}.&nbsp;&nbsp;{{ item.name }}</b>
            </div>
            @if (!isEditing()) {
              <button matIconButton (click)="edit(item)" matTooltip="Ažuriraj">
                <mat-icon>edit</mat-icon>
              </button>
            }
            <button matIconButton (click)="delete(item.id)" matTooltip="Obriši">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div>
            <table style="width: 100%; padding: 10px;">
              @for (q of item.questions; track q.id; let i = $index) {
                <tr><td rowspan="3">{{ i + 1 }}.&nbsp;&nbsp;</td></tr>
                <tr>
                  <td colspan="3"><cc-markdown>{{ q.text }}</cc-markdown></td>
                </tr>
                <tr style="border-bottom: 1px;">
                  <td><small><b>Kategorija</b>: {{ q.categoryName }}</small></td>
                  <td><small><b>Tip</b>: {{ q.type === 1 ? 'Tekst' : 'Slider' }}</small></td>
                  @if (q.labels?.length) {
                    <td><small><b>Opcije</b>: {{ q.labels | json }}</small></td>
                  }
                </tr>
                @if (i !== item.questions.length - 1) {
                  <tr><td colspan="4"><mat-divider style="border-width: 3px;" /></td></tr>
                }
              }
            </table>
          </div>
        </div>
      } @else {
        <div>
          <div class="flex-row theme-highlight-primary" style="height: 48px; align-items: center;">
            <span style="flex-grow: 1"></span>
            <span class="flex-row gap">
              <button matMiniFab
                [disabled]="form.invalid || form.get('name')?.value === '' || questions.length === 0"
                (click)="saveOrUpdate()">
                <mat-icon>check</mat-icon>
              </button>
              <button matMiniFab class="warn-fab" (click)="cancel()">
                <mat-icon>clear</mat-icon>
              </button>
            </span>
          </div>
          <form [formGroup]="form" class="flex-col gap" style="padding: 10px">
            <div class="flex-row gap">
              <mat-form-field style="width: 80px;">
                <mat-label>R.br.</mat-label>
                <input matInput type="number" formControlName="order">
              </mat-form-field>
              <mat-form-field style="flex-grow: 1;">
                <mat-label>Naziv</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <b>Pitanja:</b>
            <div formArrayName="questions" class="flex-col gap">
              @for (qControl of questions.controls; track $index; let i = $index) {
                <div [formGroup]="$any(qControl)" class="flex-col gap">
                  <div class="flex-row gap" style="align-items: stretch">
                    <div class="flex-col gap" style="flex-grow: 1;">
                      <mat-form-field>
                        <mat-label>Pitanje</mat-label>
                        <textarea matInput formControlName="text" rows="2"></textarea>
                      </mat-form-field>
                      <div class="flex-row gap">
                        <mat-form-field style="width: 200px;">
                          <mat-label>Kategorija</mat-label>
                          <mat-select formControlName="category">
                            @for (cat of categories; track cat.id) {
                              <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field style="width: 100px;">
                          <mat-label>Tip</mat-label>
                          <mat-select formControlName="type">
                            <mat-option [value]="2">Slider</mat-option>
                            <mat-option [value]="1">Tekst</mat-option>
                          </mat-select>
                        </mat-form-field>
                        @if (qControl.get('type')?.value === 2) {
                          <mat-form-field style="flex-grow: 1;">
                            <mat-label>Opcije (razdvojene zarezom)</mat-label>
                            <input matInput formControlName="labelsText">
                          </mat-form-field>
                        }
                      </div>
                    </div>
                    <div class="flex-col gap">
                      @if (i !== 0) {
                        <button matIconButton (click)="swapOrder(i, i - 1)" matTooltip="Rotiraj sa gornjim">
                          <mat-icon>arrow_upward</mat-icon>
                        </button>
                      }
                      @if (i !== questions.length - 1) {
                        <button matIconButton (click)="swapOrder(i, i + 1)" matTooltip="Rotiraj sa donjim">
                          <mat-icon>arrow_downward</mat-icon>
                        </button>
                      }
                      <span style="flex-grow: 1;"></span>
                      <button matIconButton (click)="removeQuestion(i)" matTooltip="Obriši">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  @if (i !== questions.length - 1) {
                    <mat-divider />
                  }
                </div>
              }
              <button matMiniFab (click)="addQuestion()" matTooltip="Dodaj pitanje">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </form>
        </div>
      }
    </mat-card>
  }
</div>
