<mat-card appearance="outlined" class="flex-col" style="height: 100%;">
    <div class="flex-row gap" style="justify-content: space-between; align-items: center; padding: 0 10px;">
        <h2>Vlasnici ({{course.code}})</h2>
        <button mat-mini-fab color="primary" (click)="onAddOwner()" matTooltip="Dodaj">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div style="overflow-y: auto; flex-grow: 1;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows *ngIf="dataSource?.data.length > 0">
            <ng-container [matColumnDef]="field.code" *ngFor="let field of fieldConfiguration">
            <th mat-header-cell *matHeaderCellDef>{{field.label}}</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="field.type === 'string' || field.type === 'email'">
                {{trim(element[field.code])}}
                </span>
                <span *ngIf="field.type === 'CRUD'" class="flex-row">
                    <span style="flex-grow: 1;"></span>
                    <button *ngIf="field.crud.delete" mat-icon-button (click)="onDelete(element.id)" matTooltip="Obriši">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let element; columns: columns;"></tr>
        </table>
    </div>
</mat-card>
