<div class="flex-row theme-highlight-primary" style="height: 48px; align-items: center;">
    <small class="flex-row" style="flex-grow: 1; align-items: center; padding-left: 10px;">
        <b>Tip:</b>&nbsp;Pitanje sa višestrukim izborom i više odgovara
    </small>
    <span class="flex-row gap">
        <button mat-mini-fab color="primary" [disabled]="form.invalid || workingItem.text=='' || options.length == 0" (click)="save()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="cancel()">
          <mat-icon>clear</mat-icon>
        </button>
    </span>
</div>
<mat-divider></mat-divider>
<div class="flex-col gap">
    <cc-markdown-editor [label]="'Tekst pitanja'" [sidePreview]="true"
        [text]="workingItem.text" (textChanged)="updateText($event)">
    </cc-markdown-editor>
    <div [formGroup]="form" class="flex-col gap" style="padding: 0 10px 10px 10px;">
        <b>Mogući odgovori:</b>
        <div formArrayName="options" class="flex-col">
            <div *ngFor="let optionForm of options.controls; let i = index">
                <div [formGroup]="optionForm" class="flex-row gap">
                    <mat-form-field appearance="fill" style="flex-grow: 1">
                        <mat-label>Tekst</mat-label>
                        <input matInput formControlName="text">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="flex-grow: 1">
                        <mat-label>Povratna informacija</mat-label>
                        <input matInput formControlName="feedback">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100px">
                        <mat-label>Tačno?</mat-label>
                        <mat-select formControlName="isCorrect">
                            <mat-option [value]="false">Ne</mat-option>
                            <mat-option [value]="true">Da</mat-option>
                          </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="removeOption(i)"><mat-icon>delete_forever</mat-icon></button>
                </div>
            </div>
            <button mat-mini-fab color="primary" (click)="addOption(null)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <b>Dodatne smernice (hints):</b>
        <div formArrayName="hints" class="flex-col">
            <div *ngFor="let hintForm of hints.controls; let i = index">
                <div [formGroup]="hintForm" class="flex-row">
                    <mat-form-field appearance="fill" style="flex-grow: 1">
                        <mat-label>Tekst smernice</mat-label>
                        <textarea matInput formControlName="text"></textarea>
                    </mat-form-field>
                    <button mat-icon-button (click)="removeHint(i)"><mat-icon>delete_forever</mat-icon></button>
                </div>
            </div>
        </div>
        <button mat-mini-fab color="primary" (click)="addHint(null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>